<template>
  <div
    class="categories__handler flex flex-wrap"
  >
    <h4 class="categories__heading w-full text-md font-semibold text-gray-400">
      {{ $t('Filter by categories') }}
    </h4>

    <template v-for="category in categories">
      <button
        :key="category.category_id"
        class=" categories__button transition delay-150 no-outline border-2 border-mine-shaft bg-cl-transparent py-8 px-20 text-13 hover:text-white hover:bg-mine-shaft mr-15 mb-15"
        :class="{ 'categories__button--active text-white bg-mine-shaft': value.includes(category.category_id), 'text-black': !value.includes(category.category_id) }"
        type="button"
        @click="toggleCategory(category)"
      >
        {{ category.name }}
      </button>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    categories: {
      type: Array,
      required: true
    },
    value: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
    }
  },
  methods: {
    toggleCategory (category) {
      const isSelected = this.value.includes(category.category_id)
      if (isSelected) {
        this.$emit('input', this.value.filter(categoryId => categoryId !== category.category_id))
      } else {
        this.$emit('input', [...this.value, category.category_id])
      }
    }
  }
}
</script>
