<template>
  <div class="select-wrapper relative">
    <div class="relative">
      <select
        :name="name"
        class="w-full appearance-none box-border border-0 h-44 bg-white border-b border-gray-300 outline-none hover:border-puerto-rico focus:border-puerto-rico text-bse md:text-md"
        :class="{
          'cl-tertiary' : options.length === 0,
          'empty': !selected
        }"
        :autocomplete="autocomplete"
        @focus="$emit('focus')"
        @blur="$emit('blur')"
        @change="$emit('change', $event.target.value)"
        @input="$emit('input', $event.target.value)"
      >
        <option disabled selected value v-if="!selected" />
        <option
          v-for="(option, key) in options"
          :key="key"
          :value="option.value"
          v-bind="{selected: option.value === selected}"
        >
          {{ option.label }}
        </option>
      </select>
      <label class="-top-10 text-sm text-puerto-rico pointer-events-none left-0 absolute select-none">{{ placeholder }}</label>

      <ValidationMessages v-if="validations" :validations="validations" />
    </div>
  </div>
</template>

<script>
import ValidationMessages from './ValidationMessages.vue'

export default {
  name: 'BaseSelect',
  components: {
    ValidationMessages
  },
  props: {
    id: {
      type: String,
      required: false,
      default: ''
    },
    name: {
      type: String,
      required: false,
      default: ''
    },
    options: {
      type: Array,
      required: true,
      default: () => []
    },
    selected: {
      type: String,
      required: false,
      default: ''
    },
    placeholder: {
      type: String,
      required: false,
      default: ''
    },
    autocomplete: {
      type: String,
      required: false,
      default: ''
    },
    validations: {
      type: Array,
      default: () => []
    }
  }
}
</script>
