<template>
  <button class="brdr-none bg-transparent p-0 middle-xs inline-flex" @click="$emit('click')">
    <span class="clearcart-btn text-13 md:text-md flex items-center">
      <i class="mr-5 opacity-60 hover:opacity-100">
        <svg data-v-3067afee="" width="20" height="20" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <circle data-v-3067afee="" cx="9" cy="9" r="9" fill="black" />
          <path data-v-3067afee="" d="M6 6L12 12M12 6L6 12" stroke="white" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </i>
      {{ $t('Clear wishlist') }}
    </span>
  </button>
</template>
