<template>
  <div class="flex py-10">
    <div class="blend opacity-80 hover:opacity-100" @click="closeWishlist">
      <router-link :to="productLink" class="bg-gray-200 block">
        <product-image :image="image" />
      </router-link>
    </div>
    <div class="between-xs flex pl-15 md:pl-40 md:py-15">
      <div @click="closeWishlist">
        <router-link :to="productLink" class="leading-18 block">
          {{ product.name | htmlDecode }}
        </router-link>
        <div class="text-gray-500 pt-5 sku text-xs leading-15">
          {{ product.sku }}
        </div>
        <div v-if="showAddToCart">
          <add-to-cart
            v-if="product.type_id === 'simple'"
            :product="product"
            class="wishlist-add-to-cart w-auto no-outline my-15 text-center text-sm inline-block brdr-none px-15 md:px-30 py-7 bg-mine-shaft hover:bg-gray-400 ripple text-white"
          />
          <router-link
            v-else
            :to="productLink"
            class="wishlist-add-to-cart no-outline my-15 text-center text-sm inline-block brdr-none px-15 md:px-30 py-7 bg-mine-shaft hover:bg-gray-400 ripple text-white"
          >
            {{ $t('Configure') }}1
          </router-link>
        </div>
      </div>
    </div>
    <div class="md:py-15 align-right ml-auto text-right">
      <div v-if="product.price_incl_tax" class="w-full text-base">
        <span class="price-special text-gray-400" v-if="product.special_price">{{ product.price_incl_tax | price(storeView) }}</span>&nbsp;
        <span class="price-original text-gray-600 text-xs line-through" v-if="product.special_price">{{ product.original_price_incl_tax | price(storeView) }}</span>

        <span v-if="!product.special_price" class="text-gray-400">
          {{ product.price_incl_tax | price(storeView) }}
        </span>
      </div>
      <div class="w-full">
        <span @click="removeProductFromWhishList(product)"><remove-button class="cl-accent" /></span>
      </div>
    </div>
  </div>
</template>

<script>
import config from 'config'
import Product from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Product'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import RemoveButton from './RemoveButton'
import i18n from '@vue-storefront/i18n'
import { htmlDecode } from '@vue-storefront/core/lib/store/filters'
import AddToCart from 'theme/components/core/AddToCart'

export default {
  components: {
    RemoveButton,
    ProductImage,
    AddToCart
  },
  mixins: [Product],
  props: {
    showAddToCart: {
      type: Boolean,
      default: true
    }
  },
  computed: {
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    removeProductFromWhishList (product) {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'success',
        message: i18n.t('Product {productName} has been removed from wishlist!', { productName: htmlDecode(product.name) }),
        action1: { label: i18n.t('OK') }
      }, { root: true })
      this.removeFromWishlist(product)
    }
  }
}
</script>

<style lang="scss" scoped>
.blend {
  flex: 0 0 140px;
  @media (max-width:600px) {
    flex: 0 0 96px;
  }
}
</style>
