<template>
  <div class="wishlist text-gray-400">
    <div class="close-icon-row flex justify-end">
      <i class="cursor-pointer close-icon py-23 px-14 opacity-60 hover:opacity-100" @click="closeWishlist">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L13 13M13 1L1 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </i>
    </div>
    <div class="p-20 pt-0 md:p-40 md:pt-0">
      <div class="flex w-full items-center justify-between pt-21 pb-35" v-if="productsInWishlist.length">
        <h2 class="m-0 text-lg md:text-xl font-semibold">
          {{ $t('Wishlist') }}
        </h2>
        <clear-wishlist-button @click="clearWishlist" class="justify-end inline-flex" />
      </div>
      <h4 v-if="!productsInWishlist.length" class="m-0 text-md font-semibold py-20">
        {{ $t('Your wishlist is empty.') }}
      </h4>
      <div v-if="!productsInWishlist.length">
        {{ $t("Don't hesitate and") }}
        <router-link :to="localizedRoute('/')" @click.native="closeWishlist" class="text-black font-semibold ">
          {{ $t('browse our catalog') }}
        </router-link>
        {{ $t('to find something beautiful for You!') }}
      </div>
      <div class="products">
        <product v-for="wishlistProduct in productsInWishlist" :key="wishlistProduct.id" :product="wishlistProduct" />
      </div>
    </div>
  </div>
</template>

<script>
import Wishlist from '@vue-storefront/core/compatibility/components/blocks/Wishlist/Wishlist'
import Product from 'theme/components/core/blocks/Wishlist/Product'
import ClearWishlistButton from 'theme/components/core/blocks/Wishlist/ClearWishlistButton'

export default {
  props: {
    product: {
      type: Object,
      required: false,
      default: () => { }
    }
  },
  components: {
    Product,
    ClearWishlistButton
  },
  methods: {
    clearWishlist () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: this.$t('Are you sure you would like to remove all the items from the wishlist?'),
        action1: { label: this.$t('OK'),
          action: () => {
            this.$store.dispatch('wishlist/clear')
          }
        },
        action2: { label: this.$t('Cancel'), action: 'close' },
        hasNoTimeout: true
      })
    }
  },
  mixins: [Wishlist]
}
</script>
