<template>
  <div class="sidebar-menu h-screen max-w-full overflow-hidden top-0 left-0 bg-gray-200 font-playfair text-md">
    <div class="flex border-b border-gray-200 justify-end bg-white">
      <sub-btn v-if="submenu.depth" type="back" class="w-1/2 brdr-none" />
      <button
        type="button"
        :aria-label="$t('Close')"
        class=" w-1/2 p-20 inline-flex justify-end brdr-none close-btn"
        @click="closeMenu"
      >
        <svg width="12" height="12" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L13 13M13 1L1 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </button>
    </div>
    <div class="sidebar-menu__container scrolling-touch overflow-y-auto" ref="container">
      <ul class="p0 m0 relative sidebar-menu__list" :style="mainListStyles">
        <li
          @click="closeMenu"
          class="border-b border-gray-200 bg-white"
        >
          <router-link
            class="block p-15 no-underline  w-full"
            :to="localizedRoute('/')"
            exact
          >
            {{ $t('Home') }}
          </router-link>
        </li>
        <li
          class="border-b border-gray-200 bg-white flex"
          :key="category.slug"
          @click="closeMenu"
          v-for="category in visibleCategories"
        >
          <div
            v-if="isCurrentMenuShowed"
            class="subcategory-item flex w-full"
          >
            <sub-btn
              v-if="category.children_count > 0"
              class="bg-transparent brdr-none"
              :id="category.id"
              :name="category.name"
            />
            <router-link
              v-else
              class="p-15 no-underline w-full"
              :to="categoryLink(category)"
            >
              {{ category.name }}
            </router-link>
          </div>

          <sub-category
            :category-links="category.children_data"
            :id="category.id"
            :parent-slug="category.slug"
            :parent-path="category.url_path"
          />
        </li>
        <li
          v-if="isCurrentMenuShowed"
          @click="closeMenu"
          class="bg-gray-200"
        >
          <router-link
            class="block p-15 border-b border-gray-100 no-underline w-full text-sm"
            :to="localizedRoute('/sale')"
            exact
          >
            {{ $t('Sale') }}
          </router-link>
        </li>
        <li
          v-if="isCurrentMenuShowed"
          @click="closeMenu"
          class="bg-gray-200 "
        >
          <router-link
            class="block p-15 border-b border-gray-100 no-underline text-sm w-full"
            :to="localizedRoute('/magazine')"
            exact
          >
            {{ $t('Magazine') }}
          </router-link>
        </li>
        <li
          v-if="compareIsActive && isCurrentMenuShowed"
          @click="closeMenu"
          class="bg-gray-200"
        >
          <router-link
            class="block p-15 border-b border-gray-100 text-sm no-underline w-full"
            :to="localizedRoute('/compare')"
            exact
          >
            {{ $t('Compare products') }}
          </router-link>
        </li>
        <li
          @click="login"
          class="border-b border-gray-100 bg-gray-200 flex"
        >
          <sub-btn
            v-if="currentUser"
            id="my-account-links"
            :is-category="false"
            :name="$t('My account')"
            class="bg-transparent brdr-none  w-full text-sm"
          />
          <sub-category
            v-if="currentUser"
            :my-account-links="myAccountLinks"
            id="my-account-links"
            @click.native="closeMenu"
          />
          <a
            v-if="!currentUser && isCurrentMenuShowed"
            href="#"
            @click.prevent="closeMenu"
            class="block w-full p-15 no-underline text-sm"
          >
            {{ $t('My account') }}
          </a>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import i18n from '@vue-storefront/i18n'
import SidebarMenu from '@vue-storefront/core/compatibility/components/blocks/SidebarMenu/SidebarMenu'
import SubBtn from 'theme/components/core/blocks/SidebarMenu/SubBtn'
import SubCategory from 'theme/components/core/blocks/SidebarMenu/SubCategory'
import { formatCategoryLink } from '@vue-storefront/core/modules/url/helpers'

export default {
  components: {
    SubCategory,
    SubBtn
  },
  mixins: [SidebarMenu],
  data () {
    return {
      myAccountLinks: [
        {
          id: 1,
          name: i18n.t('My profile'),
          url: '/my-account'
        },
        {
          id: 2,
          name: i18n.t('My shipping details'),
          url: '/my-account/shipping-details'
        },
        {
          id: 3,
          name: i18n.t('My newsletter'),
          url: '/my-account/newsletter'
        },
        {
          id: 4,
          name: i18n.t('My orders'),
          url: '/my-account/orders'
        },
        {
          id: 5,
          name: i18n.t('My loyalty card'),
          url: '#'
        },
        {
          id: 6,
          name: i18n.t('My product reviews'),
          url: '#'
        }
      ],
      componentLoaded: false
    }
  },
  computed: {
    mainListStyles () {
      return this.submenu.depth ? `transform: translateX(${this.submenu.depth * 100}%)` : false
    },
    ...mapState({
      submenu: state => state.ui.submenu,
      currentUser: state => state.user.current
    }),
    getSubmenu () {
      return this.submenu
    },
    visibleCategories () {
      return this.categories.filter(category => {
        return category.product_count > 0 || category.children_count > 0
      })
    },
    isCurrentMenuShowed () {
      return !this.getSubmenu || !this.getSubmenu.depth
    }
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true;
    })
  },
  methods: {
    login () {
      if (!this.currentUser && this.isCurrentMenuShowed) {
        this.$nextTick(() => {
          this.$store.commit('ui/setAuthElem', 'login')
          this.$bus.$emit('modal-show', 'modal-signup')
          this.$router.push({ name: 'my-account' })
        })
      }
    },
    categoryLink (category) {
      return formatCategoryLink(category)
    }
  }
}
</script>
