<template>
  <div class="breadcrumbs text-sm text-gray-400">
    <span v-for="link in paths" :key="link.route_link">
      <router-link :to="link.route_link">{{ link.name | htmlDecode }}</router-link> /
    </span>
    <span class="text-gray-800">
      {{ current | htmlDecode }}
    </span>
  </div>
</template>

<script>
import { Breadcrumbs } from '@vue-storefront/core/modules/breadcrumbs/components/Breadcrumbs.ts'

export default {
  mixins: [Breadcrumbs]
}
</script>
