<template>
  <transition :name="transitionName">
    <div
      class="modal fixed inset-0 z-9 flex self-center justify-center overflow-hidden md:overflow-auto text-base sm:px-md transition-all"
      v-if="isVisible"
      ref="modal"
    >
      <div class="modal-backdrop fixed inset-0" @click="close" />
      <div class="modal-container bg-white relative min-w-full sm:min-w-0 max-h-full h-full sm:h-auto sm:max-h-90 md:max-h-none m-auto overflow-auto md:overflow-hidden" ref="modal-content" :style="style">
        <header class="modal-header flex py-25 px-20 md:px-65 text-lg sm:text-xxl justify-between items-center font-bold text-black font-serif bg-gray-200" v-if="$slots.header">
          <slot name="header" />
          <i
            slot="close"
            class="modal-close cursor-pointer"
            @click="close"
            data-testid="closeModalButton"
          >
            <svg class="fill-current text-gray-500" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#000000">
              <path d="M0 0h24v24H0V0z" fill="none" />
              <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12 19 6.41z" />
            </svg>
          </i>
        </header>
        <div class="modal-content py-20 px-15 sm:py-60 sm:px-65" v-if="$slots.content">
          <slot name="content" />
        </div>
        <slot />
      </div>
    </div>
  </transition>
</template>

<script>
import { mapMutations } from 'vuex'
import onEscapePress from '@vue-storefront/core/mixins/onEscapePress'
import { isServer } from '@vue-storefront/core/helpers'

export default {
  name: 'Modal',
  data () {
    return {
      isVisible: false
    }
  },
  watch: {
    isVisible (state) {
      if (state) {
        this.$nextTick(() => {
          this.addBodyClass(this.$refs['modal']);
        })
      } else {
        this.removeBodyClass();
      }
    }
  },
  methods: {
    onHide (name, state, params) {
      return name === this.name ? this.toggle(false) : false
    },
    onShow (name, state, params) {
      return name === this.name ? this.toggle(true) : false
    },
    onToggle (name, state, params) {
      if (name === this.name) {
        state = typeof state === 'undefined' ? !this.isVisible : state
        this.toggle(state)
      }
    },
    onEscapePress () {
      this.close()
    },
    ...mapMutations('ui', [
      'setOverlay'
    ]),
    toggle (state) {
      this.isVisible = state
      state ? this.setOverlay(state) : setTimeout(() => this.setOverlay(state), this.delay)
    },
    close () {
      this.toggle(false)
    },
    addBodyClass () {
      if (isServer) return;
      const bodyEle = document.getElementsByTagName('body');
      bodyEle.length > 0 && bodyEle[0].classList.add('overflow-hidden');
    },
    removeBodyClass () {
      if (isServer) return;
      const bodyEle = document.getElementsByTagName('body');
      bodyEle.length > 0 && bodyEle[0].classList.remove('overflow-hidden');
    }
  },
  beforeMount () {
    this.$bus.$on('modal-toggle', this.onToggle)
    this.$bus.$on('modal-show', this.onShow)
    this.$bus.$on('modal-hide', this.onHide)
  },
  beforeDestroy () {
    this.$bus.$off('modal-toggle', this.onToggle)
    this.$bus.$off('modal-show', this.onShow)
    this.$bus.$off('modal-hide', this.onHide)
  },
  mixins: [onEscapePress],
  props: {
    name: {
      required: true,
      type: String
    },
    delay: {
      required: false,
      type: Number,
      default: 300
    },
    width: {
      type: Number,
      default: 0
    },
    transitionName: {
      type: String,
      default: 'fade-in-down'
    }
  },
  computed: {
    style () {
      return this.width ? `width: ${this.width}px` : false
    }
  }
}
</script>
<style lang="scss" scoped>
.fade-in-down-enter,.fade-in-down-leave-to,.fade-in-up-enter,.fade-in-up-leave-to {
  opacity:0;
}
.fade-in-down-enter,.fade-in-down-leave-to {
  transform:translateY(-100%);
  transition: all .2s cubic-bezier(.4,0,1,1)
}
.fade-in-up-enter,.fade-in-up-leave-to {
  transform:translateY(100%);
  transition: all .2s cubic-bezier(.4,0,1,1)
}
</style>
