<template>
  <div class="notifications fixed lg:top-70 lg:right-90 right-0 bottom-0 lg:bottom-auto left-0 lg:left-auto z-10">
    <transition-group name="fade-in-down">
      <div
        class="notification mt-0 border-box text-white shadow-3xl lg:mt-30"
        v-for="(notification, index) in notifications"
        :key="`${notification.type}_${index}`"
        :class="notification.type"
      >
        <div
          @click="execAction(notification.action1, index)"
          class="message p-20 text-sm leading-16"
          data-testid="notificationMessage"
        >
          {{ notification.message }}
        </div>
        <div class="actions flex justify-between text-sm">
          <div
            class="py-10 px-20 cursor-pointer action-border  border-r-2  notification-action uppercase"
            :class="`border-${notification.type}`"
            id="notificationAction1"
            data-testid="notificationAction1"
            @click="execAction(notification.action1, index)"
          >
            {{ notification.action1.label }}
          </div>
          <div
            class="py-10 px-20 w-full cursor-pointer notification-action uppercase"
            id="notificationAction2"
            data-testid="notificationAction2"
            @click="execAction(notification.action2, index)"
            v-if="notification.action2"
          >
            {{ notification.action2.label }}
          </div>
        </div>
      </div>
    </transition-group>
  </div>
</template>

<script>
import { Notification } from '@vue-storefront/core/modules/notification/components/Notification'

export default {
  mixins: [Notification],
  methods: {
    execAction (action, index) {
      if (action.action) {
        // for backward compatibility
        if (action.action === 'close') {
          this.$store.dispatch('notification/removeNotification', index)
        } else {
          action.action()
        }
      }
      this.$store.dispatch('notification/removeNotification', index)
    }
  }
}
</script>

<style lang="scss" scoped>
.notifications {
  width: 320px;
  @media (max-width: 64em) {
    width: auto;
    .fade-in-down-enter,
    .fade-in-down-leave-to {
      transform: translateY(100%);
    }
  }
}
</style>
