<template>
  <div @click="$emit('change', variant)">
    <button
      class="mr-10 pointer w-20 h-20 border border-gray-400 p-2"
      :class="{ active: isActive }"
      :aria-label="$t('Price {variant}', { variant: variant.label })"
    >
      <span class="block w-14 h-14" />
    </button>
    <span class="text-14">{{ variant.label }}</span>
  </div>
</template>

<script>
import filterMixin from 'theme/mixins/filterMixin.ts'

export default {
  mixins: [filterMixin]
}
</script>
<style lang="scss" scoped>
  .price-selector{
    button{
      &:hover{
        span{
          background: #cccccc;
        }
      }
      &.active{
        span{
          background: #999;
        }
      }
    }
  }
</style>
