<template>
  <div
    class="product-image mix-blend-multiply overflow-hidden relative w-full max-w-full h-0"
    :class="{'product-image--height': basic, 'product-image--width': !basic}"
    :style="style"
    v-on="$listeners"
  >
    <img
      v-show="showPlaceholder"
      src="/assets/placeholder.jpg"
      :alt="alt"
      class="product-image__placeholder absolute duration-500 ease-in-out -translate-y-1/2 -translate-x-1/2 transform max-w-50 top-1/2 left-1/2 object-cover object-top"
    >
    <img
      v-if="!lowerQualityImageError || isOnline"
      v-show="showLowerQuality"
      v-lazy="image.loading"
      :alt="alt"
      @load="imageLoaded('lower', true)"
      @error="imageLoaded('lower', false)"
      ref="lQ"
      class="product-image__thumb absolute duration-500 ease-in-out top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 w-full object-cover object-top"
    >
    <img
      v-if="!highQualityImageError || isOnline"
      v-show="showHighQuality"
      v-lazy="image.src"
      :alt="alt"
      @load="imageLoaded('high', true)"
      @error="imageLoaded('high', false)"
      class="product-image__thumb duration-500 ease-in-out absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/2 w-full object-cover object-top"
    >
  </div>
</template>

<script>
import { onlineHelper } from '@vue-storefront/core/helpers'

export default {
  props: {
    calcRatio: {
      type: Boolean,
      default: true
    },
    image: {
      type: Object,
      default: () => ({
        src: '',
        loading: ''
      })
    },
    alt: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      lowerQualityImage: false,
      lowerQualityImageError: false,
      highQualityImage: false,
      highQualityImageError: false,
      basic: true
    }
  },
  watch: {
    lowerQualityImage (state) {
      if (state) {
        this.basic = this.$refs.lQ.naturalWidth < this.$refs.lQ.naturalHeight;
      }
    }
  },
  computed: {
    showPlaceholder () {
      return !this.showLowerQuality && !this.showHighQuality
    },
    showLowerQuality () {
      return this.lowerQualityImage && !this.showHighQuality
    },
    showHighQuality () {
      return this.highQualityImage
    },
    imageRatio () {
      const { width, height } = this.$store.state.config.products.gallery
      return `${height / (width / 100)}%`
    },
    style () {
      return this.calcRatio ? { paddingBottom: this.imageRatio } : {}
    },
    isOnline (value) {
      return onlineHelper.isOnline
    }
  },
  methods: {
    imageLoaded (type, success = true) {
      this[`${type}QualityImage`] = success
      this[`${type}QualityImageError`] = !success
    }
  }
}
</script>

<style lang="scss" scoped>
.product-image{
  padding-bottom: calc(300% / (276.5 / 115));
}
</style>
<style lang="scss">
.product-cover .product-image .product-image__thumb{
   opacity:0.8;
}
.product-cover .product-image:hover .product-image__thumb{
    --tw-scale-x: 1.1;
    --tw-scale-y: 1.1;
    opacity: 1;
  }
</style>
