<template>
  <div :id="sliderId" class="product-slider-wrap">
    <div class="product-slider">
      <div class="slider-container relative">
        <div class="block-title flex items-center mb-30">
          <h2 class="text-lg leading-24 sm:text-xl sm:leading-35 font-semibold m-0 text-gray-400">
            {{ secTitle }}
            <div class="sec-subtitle" v-if="subTitle">
              {{ subTitle }}
            </div>
          </h2>
          <div class="product-swiper-arrows flex justify-end ml-auto">
            <span :id="sliderId + '-button-prev'" class="swiper-button-prev cursor-pointer" slot="button-prev">
              <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" /><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z" />
              </svg>
            </span>
            <span :id="sliderId + '-button-next'" class="swiper-button-next cursor-pointer" slot="button-next">
              <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" viewBox="0 0 24 24" fill="#000000">
                <path d="M0 0h24v24H0V0z" fill="none" /><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z" />
              </svg>
            </span>
          </div>
        </div>
        <swiper class="swiper" :options="swiperOption" :instance-name="sliderId">
          <swiper-slide
            class="w-6/12 lg:w-3/12"
            v-for="(product) in products"
            :key="product.id"
          >
            <product-tile :product="product" />
          </swiper-slide>
        </swiper>
      </div>
    </div>
  </div>
</template>

<script>
import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
import SwiperCore, { Navigation } from 'swiper';
import 'swiper/swiper.scss'
import ProductTile from 'theme/components/core/ProductTile'

let lastHero = 0
SwiperCore.use([Navigation]);

export default {
  name: 'ProductListingSlider',
  components: {
    Swiper,
    SwiperSlide,
    ProductTile
  },
  data () {
    return {
      swiperOption: {
        slidesPerView: 'auto',
        grabCursor: true,
        observer: true,
        observeParents: true,
        navigation: {
          nextEl: ('#' + this.sliderId + '-button-next'),
          prevEl: ('#' + this.sliderId + '-button-prev')
        },
        breakpoints: this.sliderBreakPoints()
      }
    }
  },
  props: {
    sliderId: {
      type: String,
      default: ''
    },
    secTitle: {
      type: String,
      default: ' New Product'
    },
    subTitle: {
      type: String,
      default: ''
    },
    perPageCustom: {
      type: Array,
      default: () => []
    },
    products: {
      type: Array,
      default: () => []
    },
    todayData: {
      type: Array,
      default: () => []
    }
  },
  methods: {
    sliderBreakPoints () {
      let breakPointsArr = {};
      let breakPointsScreens = [];
      let slidesPerViewArr = [];
      this.perPageCustom.forEach((perPage) => {
        breakPointsScreens.push(perPage[0]);
        slidesPerViewArr.push({
          slidesPerView: perPage[1][0],
          spaceBetween: perPage[1][1]
        });
      });
      breakPointsArr = Object.assign(...breakPointsScreens.map((k, i) => ({ [k]: slidesPerViewArr[i] })));
      return breakPointsArr;
    }
  }
}
</script>
<style lang="scss">
.swiper-button-disabled{
  opacity: 0.6;
}
</style>
