<template>
  <div class="product relative text-center pb-20 overflow-hidden" v-observe-visibility="visibilityChanged">
    <div class="product__icons absolute right-0 top-0 flex flex-col pr-5">
      <AddToWishlist :product="product" class="-my-5 -mx-5 md:my-0 md:mx-0">
        <div
          class="product__icon relative"
          :class="{'product__icon--active': isOnWishlist }"
          :title="isOnWishlist ? $t('Remove') : $t('Add to favorite') "
        >
          <span class="sr-only">Wishlist</span>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-25 w-25 text-gray-500" :class="{'text-gray-500 fill-current': isOnWishlist }" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
          </svg>
        </div>
      </AddToWishlist>
      <AddToCompare :product="product" class="-my-9 -mx-5 md:mx-0">
        <div
          class="product__icon relative"
          :class="{'product__icon--active':isOnCompare }"
          :title="isOnCompare ? $t('Remove from compare') : $t('Add to compare')"
        >
          <span class="sr-only">Compare</span>
          <svg class="h-25 w-25 fill-current text-gray-500" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 0h48v48h-48z" fill="none" />
            <path d="M20 6h-10c-2.21 0-4 1.79-4 4v28c0 2.21 1.79 4 4 4h10v4h4v-44h-4v4zm0 30h-10l10-12v12zm18-30h-10v4h10v26l-10-12v18h10c2.21 0 4-1.79 4-4v-28c0-2.21-1.79-4-4-4z" />
          </svg>
        </div>
      </AddToCompare>
    </div>
    <router-link
      :to="productLink"
      data-testid="productLink"
    >
      <div
        class="product-cover bg-gray-200"
        :class="[{ sale: labelsActive && isOnSale }, { new: labelsActive && isNew }]"
      >
        <product-image
          :image="thumbnailObj"
          :alt="product.name | htmlDecode"
          :calc-ratio="false"
          data-testid="productImage"
        />
      </div>

      <p class="mt-10 mb-5 p-0 leading-17" v-if="!onlyImage">
        {{ product.name | htmlDecode }}
      </p>

      <span
        class="price-original text-gray-400"
        v-if="product.special_price && parseFloat(product.original_price_incl_tax) > 0 && !onlyImage"
      >{{ product.original_price_incl_tax | price(storeView) }}</span>

      <span
        class="price-special"
        v-if="product.special_price && parseFloat(product.special_price) > 0 && !onlyImage"
      >{{ product.price_incl_tax | price(storeView) }}</span>

      <span
        class="text-gray-400"
        v-if="!product.special_price && parseFloat(product.price_incl_tax) > 0 && !onlyImage"
      >{{ product.price_incl_tax | price(storeView) }}</span>
    </router-link>
  </div>
</template>

<script>
import rootStore from '@vue-storefront/core/store'
import { ProductTile } from '@vue-storefront/core/modules/catalog/components/ProductTile.ts'
import config from 'config'
import ProductImage from './ProductImage'
import AddToWishlist from 'theme/components/core/blocks/Wishlist/AddToWishlist'
import AddToCompare from 'theme/components/core/blocks/Compare/AddToCompare'
import { IsOnWishlist } from '@vue-storefront/core/modules/wishlist/components/IsOnWishlist'
import { IsOnCompare } from '@vue-storefront/core/modules/compare/components/IsOnCompare'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  mixins: [ProductTile, IsOnWishlist, IsOnCompare],
  components: {
    ProductImage,
    AddToWishlist,
    AddToCompare
  },
  props: {
    labelsActive: {
      type: Boolean,
      default: true
    },
    onlyImage: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    thumbnailObj () {
      return {
        src: this.thumbnail,
        loading: this.thumbnail
      }
    },
    favoriteIcon () {
      return this.isOnWishlist ? 'favorite' : 'favorite_border'
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    onProductPriceUpdate (product) {
      if (product.sku === this.product.sku) {
        Object.assign(this.product, product)
      }
    },
    visibilityChanged (isVisible, entry) {
      if (
        isVisible &&
        config.products.configurableChildrenStockPrefetchDynamic &&
        config.products.filterUnavailableVariants &&
        this.product.type_id === 'configurable' &&
        this.product.configurable_children &&
        this.product.configurable_children.length > 0
      ) {
        const skus = [this.product.sku]
        for (const confChild of this.product.configurable_children) {
          const cachedItem = rootStore.state.stock.cache[confChild.id]
          if (typeof cachedItem === 'undefined' || cachedItem === null) {
            skus.push(confChild.sku)
          }
        }
        if (skus.length > 0) {
          rootStore.dispatch('stock/list', { skus: skus }) // store it in the cache
        }
      }
    }
  },
  beforeMount () {
    this.$bus.$on('product-after-priceupdate', this.onProductPriceUpdate)
  },
  beforeDestroy () {
    this.$bus.$off('product-after-priceupdate', this.onProductPriceUpdate)
  }
}
</script>

<style lang="scss">
.product {
  &__icon {
    padding-top: 3px;
    opacity: 0;
    z-index: 1;
    transition: 0.3s opacity;
    @media (max-width: 1080px) {
      opacity: 1;
    }
    &--active {
      opacity: 1;
    }
  }
  &:hover {
    .product__icon {
      opacity: 1;
    }
  }
}
.product__icons{
  button {
    padding: 11px 12px;
  }
}
</style>
