<template>
  <div class="product-listing flex flex-wrap -mx-10">
    <div
      v-for="(product) in products"
      :key="product.id"
      class="w-6/12 lg:w-4/12 px-sm"
    >
      <product-tile :product="product" />
    </div>
  </div>
</template>

<script>
import ProductTile from 'theme/components/core/ProductTile'
let lastHero = 0
export default {
  name: 'ProductListing',
  components: {
    ProductTile
  },
  props: {
    products: {
      type: null,
      required: true
    }
  }
}
</script>
