<template>
  <span class="tooltip relative">
    <svg class="w-24 h-24 text-gray-600 inline-block cursor-pointer align-top" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#4f4f4f"><path d="M0 0h24v24H0z" fill="none" />
      <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-6h2v6zm0-8h-2V7h2v2z" />
    </svg>
    <div class="bottom-full text absolute p-25 bg-gray-600 text-white text-sm hidden left-1/2 transform -translate-x-1/2 mb-12 text-center">
      <slot />
    </div>
  </span>
</template>

<style lang="scss" scoped>
.tooltip {
  &:hover .text {
    display: block;
  }
}
.text {
  width: 200px;
  &:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    border: 10px solid transparent;
    border-top: 10px solid #4f4f4f;
    left: 50%;
    transform: translateX(-50%);
    bottom: -20px;
  }
}
</style>
