<template>
  <div class="newsletter py-25" v-show="!isSubscribed">
    <div class="container items-center justify-between md:flex text-center md:text-left">
      <p class="font-playfair m-0 text-md md:text-lg text-gray-400 font-normal pb-25 md:pb-0">
        {{ $t('Subscribe to the newsletter and receive a coupon for 10% off') }}
      </p>
      <button-outline
        @click.native="showNewsletterPopup"
        color="dark"
        data-testid="openNewsletterButton" class="px-40"
      >
        {{ $t('Subscribe') }}
      </button-outline>
    </div>
    <newsletter-popup v-if="loadNewsletterPopup" />
  </div>
</template>

<script>
import SubscriptionStatus from '@vue-storefront/core/modules/newsletter/mixins/SubscriptionStatus'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import { mapState } from 'vuex'
const NewsletterPopup = () => import(/* webpackChunkName: "vsf-newsletter-modal" */ 'theme/components/core/NewsletterPopup.vue')

export default {
  name: 'Newsletter',
  mixins: [SubscriptionStatus],
  data () {
    return {
      loadNewsletterPopup: false
    }
  },
  computed: {
    ...mapState({
      isOpen: state => state.ui.newsletterPopup
    })
  },
  methods: {
    showNewsletterPopup () {
      this.loadNewsletterPopup = true
      this.$bus.$emit('modal-show', 'modal-newsletter')
    }
  },
  components: {
    ButtonOutline,
    NewsletterPopup
  }
}
</script>
