<template>
  <div
    class="hover:bg-gray-200 relative dropdown group"
    data-testid="accountButton"
    @click.self="goToAccount();showMenu = true;"
    @keyup.enter="goToAccount"
    tabindex="0"
    role="button"
    @mouseover="showMenu = true"
    @mouseout="showMenu = false"
  >
    <button
      type="button"
      class="bg-cl-transparent brdr-none p0 relative pointer-events-none"
      aria-label="$t('Open my account')"
    >
      <svg width="23" height="20" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
        <mask id="path-1-inside-1" fill="white">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0.599976 23.9998V22.7998C0.599976 19.4861 3.28627 16.7998 6.59997 16.7998H16.2C19.5137 16.7998 22.2 19.4861 22.2 22.7998V23.9998" />
        </mask>
        <path d="M-0.900024 23.9998C-0.900024 24.8282 -0.228452 25.4998 0.599976 25.4998C1.4284 25.4998 2.09998 24.8282 2.09998 23.9998H-0.900024ZM20.7 23.9998C20.7 24.8282 21.3715 25.4998 22.2 25.4998C23.0284 25.4998 23.7 24.8282 23.7 23.9998H20.7ZM2.09998 23.9998V22.7998H-0.900024V23.9998H2.09998ZM6.59997 18.2998H16.2V15.2998H6.59997V18.2998ZM20.7 22.7998V23.9998H23.7V22.7998H20.7ZM16.2 18.2998C18.6853 18.2998 20.7 20.3145 20.7 22.7998H23.7C23.7 18.6577 20.3421 15.2998 16.2 15.2998V18.2998ZM2.09998 22.7998C2.09998 20.3145 4.11469 18.2998 6.59997 18.2998V15.2998C2.45784 15.2998 -0.900024 18.6577 -0.900024 22.7998H2.09998Z" fill="#000000" mask="url(#path-1-inside-1)" />
        <circle cx="11.4" cy="7.2" r="6.45" fill="white" stroke="#000000" stroke-width="1.5" />
      </svg>
    </button>

    <no-ssr>
      <div v-show="currentUser" class="dropdown-content">
        <div v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
          <router-link @click.native="showMenu = false" class="text-base hover:bg-gray-200 hover:opacity-100" :to="localizedRoute(page.link)">
            {{ page.title }}
          </router-link>
        </div>
        <div class="pt-5 border-t border-gray-200">
          <a href="#" class="text-base hover:bg-gray-200 hover:opacity-100" @click.prevent="logout">
            {{ $t('Logout') }}
          </a>
        </div>
      </div>
    </no-ssr>
  </div>
</template>

<script>
import NoSSR from 'vue-no-ssr'
import AccountIcon from '@vue-storefront/core/compatibility/components/blocks/Header/AccountIcon'

export default {
  mixins: [AccountIcon],
  components: {
    'no-ssr': NoSSR
  },
  data () {
    return {
      showMenu: false,
      navigation: [
        { title: this.$t('My profile'), link: '/my-account' },
        { title: this.$t('My shipping details'), link: '/my-account/shipping-details' },
        { title: this.$t('My newsletter'), link: '/my-account/newsletter' },
        { title: this.$t('My orders'), link: '/my-account/orders' },
        { title: this.$t('My Recently viewed products'), link: '/my-account/recently-viewed' }
      ]
    }
  },
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    }
  }
}
</script>
