<template>
  <router-link :to="localizedRoute('/compare')" class="hover:bg-gray-200 relative group" v-if="isActive" data-testid="compare-list-icon">
    <i class="compare-icons">
      <svg data-v-60d347aa="" viewBox="0 0 48 48" xmlns="http://www.w3.org/2000/svg" class="h-22 w-22 fill-current">
        <path data-v-60d347aa="" d="M0 0h48v48h-48z" fill="none" />
        <path data-v-60d347aa="" d="M20 6h-10c-2.21 0-4 1.79-4 4v28c0 2.21 1.79 4 4 4h10v4h4v-44h-4v4zm0 30h-10l10-12v12zm18-30h-10v4h10v26l-10-12v18h10c2.21 0 4-1.79 4-4v-28c0-2.21-1.79-4-4-4z" />
      </svg>
    </i>
    <span class="sr-only">Compare</span>
    <span
      class="compare-count top-7 font-bold leading-16 text-xs rounded-full left-1/2 absolute text-center border-box p-0 w-16 h-16  text-white  group-hover:bg-gray-300 bg-gray-100"
      v-cloak
      v-show="getCompareProductsCount"
    >
      {{ getCompareProductsCount }}
    </span>
  </router-link>
</template>

<script>
import CompareIcon from '@vue-storefront/core/compatibility/components/blocks/Header/CompareIcon'
import { mapGetters } from 'vuex'

export default {
  mixins: [CompareIcon],
  computed: {
    ...mapGetters('compare', ['getCompareProductsCount'])
  }
}
</script>

<style scoped>
  .compare-count {
    top: 7px;
    left: 50%;
    min-width: 16px;
    min-height: 16px;
    border-radius: 10px;
  }
</style>
