<template>
  <button
    type="button"
    class="py-21 px-17 bg-gray-200 hover:bg-gray-100 relative"
    @click="openSidebarMenu"
    :aria-label="$t('Open menu')"
    data-testid="menuButton"
  >
    <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H20V2H0V0ZM0 5H20V7H0V5ZM20 10H0V12H20V10Z" fill="black" />
    </svg>
  </button>
</template>

<script>
import HamburgerIcon from '@vue-storefront/core/compatibility/components/blocks/Header/HamburgerIcon'

export default {
  mixins: [HamburgerIcon]
}
</script>
