<template>
  <div class="header shadow">
    <header
      :class="{ '-top-55': navInvisible }"
      class="fixed w-full border-b border-gray-100 bg-white z-3 top-0"
    >
      <div class="container">
        <div class="-ml-15 -mr-15 pr-10 md:pr-0 md:ml-auto md:mr-auto flex justify-between relative" v-if="!isCheckoutPage || isThankYouPage">
          <div class="xs:w-1/2 w-1/4 middle-xs">
            <hamburger-icon />
          </div>
          <div class="xs:w-1/4 w-1/4 flex justify-center self-center">
            <logo width="43" height="41px" />
          </div>
          <div class="xs:w-1/2 w-1/4 justify-end flex">
            <search-icon class="py-14 px-5 md:p-13 flex items-center justify-center absolute left-60 sm:left-0 sm:relative h-full" />
            <wishlist-icon class="py-14 px-5 md:p-13 flex items-center justify-center" />
            <compare-icon class="py-14 px-5 md:p-13 flex items-center justify-center hidden md:flex" />
            <microcart-icon class="py-14 px-5 md:p-13 flex items-center justify-center" />
            <account-icon class="hidden md:flex py-14 px-5 md:p-13 flex items-center justify-center" />
          </div>
        </div>
        <div class="flex justify-between items-center py-6 w-full text-sm md:text-base" v-if="isCheckoutPage && !isThankYouPage">
          <div>
            <router-link
              :to="localizedRoute('/')"
              class="text-gray-600 underline hover:text-black"
            >
              {{ $t('Return to shopping') }}
            </router-link>
          </div>
          <div>
            <logo width="43" height="41px" />
          </div>
          <div>
            <a
              v-if="!currentUser"
              href="#"
              @click.prevent="gotoAccount"
              class="text-gray-300 underline"
            >{{ $t('Login to your account') }}</a>
            <span v-else>{{ $t('You are logged in as {firstname}', currentUser) }}</span>
          </div>
        </div>
      </div>
    </header>
    <div class="header-placeholder h-54" />
  </div>
</template>

<script>
import { mapState } from 'vuex'
import CurrentPage from 'theme/mixins/currentPage'
import AccountIcon from 'theme/components/core/blocks/Header/AccountIcon'
import CompareIcon from 'theme/components/core/blocks/Header/CompareIcon'
import HamburgerIcon from 'theme/components/core/blocks/Header/HamburgerIcon'
import Logo from 'theme/components/core/Logo'
import MicrocartIcon from 'theme/components/core/blocks/Header/MicrocartIcon'
import SearchIcon from 'theme/components/core/blocks/Header/SearchIcon'
import WishlistIcon from 'theme/components/core/blocks/Header/WishlistIcon'

export default {
  name: 'Header',
  components: {
    AccountIcon,
    CompareIcon,
    HamburgerIcon,
    Logo,
    MicrocartIcon,
    SearchIcon,
    WishlistIcon
  },
  mixins: [CurrentPage],
  data () {
    return {
      navInvisible: false,
      isScrolling: false,
      scrollTop: 0,
      lastScrollTop: 0,
      navbarHeight: 54
    }
  },
  computed: {
    ...mapState({
      isOpenLogin: state => state.ui.signUp,
      currentUser: state => state.user.current
    }),
    isThankYouPage () {
      return this.$store.state.checkout.isThankYouPage
        ? this.$store.state.checkout.isThankYouPage
        : false
    }
  },
  beforeMount () {
    window.addEventListener(
      'scroll',
      () => {
        this.isScrolling = true
      },
      { passive: true }
    )

    setInterval(() => {
      if (this.isScrolling) {
        this.hasScrolled()
        this.isScrolling = false
      }
    }, 250)
  },
  methods: {
    gotoAccount () {
      this.$bus.$emit('modal-toggle', 'modal-signup')
    },
    hasScrolled () {
      this.scrollTop = window.scrollY
      if (
        this.scrollTop > this.lastScrollTop &&
        this.scrollTop > this.navbarHeight
      ) {
        this.navInvisible = true
      } else {
        this.navInvisible = false
      }
      this.lastScrollTop = this.scrollTop
    }
  }
}
</script>
<style lang="scss" scoped>
  header {
    transition: 0.2s ease-in-out;
  }
</style>
