<template>
  <button
    type="button"
    class="hover:bg-gray-200 relative group"
    @click="openMicrocart"
    data-testid="openMicrocart"
    :aria-label="$t('Open microcart')"
  >
    <svg width="24" height="22" viewBox="0 0 22 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M3.11195 8.83479C3.19475 8.21379 3.72448 7.75 4.35098 7.75H17.6489C18.2754 7.75 18.8052 8.21379 18.888 8.83479L20.7546 22.8348C20.8545 23.5842 20.2716 24.25 19.5156 24.25H2.48432C1.72833 24.25 1.14537 23.5841 1.24528 22.8348L3.11195 8.83479Z" fill="white" stroke="#000000" stroke-width="1.5" />
      <path d="M15.8 9.4V5C15.8 2.79086 14.0091 1 11.8 1H10.2C7.99081 1 6.19995 2.79086 6.19995 5V9.4" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
    </svg>
    <span
      class="minicart-count top-7 font-bold leading-16 text-xs rounded-full left-1/2 absolute text-center border-box p-0 w-16 h-16 weight-700 text-white  group-hover:bg-gray-300 bg-gray-100"
      v-cloak
      v-show="totalQuantity"
      data-testid="minicartCount"
    >
      {{ totalQuantity }}
    </span>
  </button>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import MicrocartIcon from '@vue-storefront/core/compatibility/components/blocks/Header/MicrocartIcon'
import { syncCartWhenLocalStorageChange } from '@vue-storefront/core/modules/cart/helpers'

export default {
  mounted () {
    syncCartWhenLocalStorageChange.addEventListener()
    this.$once('hook:beforeDestroy', () => {
      syncCartWhenLocalStorageChange.removeEventListener()
    })
  },
  computed: {
    ...mapGetters({
      totalQuantity: 'cart/getItemsTotalQuantity'
    })
  },
  methods: {
    ...mapActions({
      openMicrocart: 'ui/toggleMicrocart'
    })
  }
}
</script>
