<template>
  <button
    type="button"
    :aria-label="$t('Open search panel')"
    class="hover:bg-gray-200"
    @click="toggleSearchpanel"
    data-testid="openSearchPanel"
  >
    <span class="sr-only">Search</span>
    <svg width="23" height="20" viewBox="0 0 23 25" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M8.3999 8.3999L21.5999 23.9999" stroke="#000000" stroke-width="1.5" stroke-linecap="round" />
      <circle cx="9.6" cy="9.6" r="8.85" fill="white" stroke="#000000" stroke-width="1.5" />
    </svg>
  </button>
</template>

<script>
import SearchIcon from '@vue-storefront/core/compatibility/components/blocks/Header/SearchIcon'

export default {
  mixins: [SearchIcon]
}
</script>
