<template>
  <button
    type="button"
    class="hover:bg-gray-200 relative group"
    @click="toggleWishlistPanel"
    data-testid="wishlist-icon"
    :aria-label="$t('Open wishlist')"
  >
    <svg width="30" height="24" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" clip-rule="evenodd" d="M5.53825 13.4821L5.57836 13.5583C7.0168 16.2888 9.58702 19.3532 11.8727 21.791C13.0027 22.9963 14.0394 24.0235 14.793 24.7488C14.8646 24.8178 14.9337 24.884 15 24.9473C15.0663 24.884 15.1354 24.8177 15.2071 24.7487C15.9608 24.0233 16.9976 22.996 18.1277 21.7907C20.4135 19.3526 22.9838 16.288 24.4221 13.5574L24.4622 13.4813L24.5107 13.4103C25.1268 12.5084 25.4902 11.4219 25.4997 10.2469L25.4997 10.2395H25.4997L25.5 10.2L25.4999 10.1899L25.4998 10.1827L25.4998 10.1755C25.4867 7.03882 22.9397 4.5 19.7999 4.5C18.339 4.5 17.0097 5.04756 16.0003 5.951L14.9999 6.84631L13.9996 5.951C12.9901 5.04756 11.6608 4.5 10.2 4.5C7.05198 4.5 4.5 7.05198 4.5 10.2C4.5 11.3935 4.86514 12.4971 5.48969 13.4111L5.53825 13.4821ZM15 27C15 27 7.32541 20.0929 4.25125 14.2574C3.46173 13.102 3 11.7049 3 10.2C3 6.22355 6.22355 3 10.2 3C12.044 3 13.7261 3.69322 14.9999 4.83328C16.2737 3.69322 17.9558 3 19.7999 3C23.766 3 26.9832 6.20692 26.9998 10.1692L27 10.2C27 10.2196 26.9999 10.2393 26.9996 10.259C26.9877 11.741 26.5281 13.1164 25.7492 14.2564C22.6754 20.0921 15 27 15 27Z" fill="#000000" />
    </svg>
    <span
      class="whishlist-count top-7 text-xs font-bold leading-16 rounded-full left-1/2 absolute text-center border-box p-0 w-16 h-16  text-white  group-hover:bg-gray-300 bg-gray-100"
      v-cloak
      v-show="getWishlistItemsCount"
    >
      {{ getWishlistItemsCount }}
    </span>
  </button>
</template>

<script>
import WishlistIcon from '@vue-storefront/core/compatibility/components/blocks/Header/WishlistIcon'

export default {
  mixins: [WishlistIcon]
}
</script>
