<template>
  <div class="compare">
    <div class="bg-gray-200  py-35">
      <div class="container">
        <breadcrumbs :with-homepage="true" :routes="[]" active-route="Compare" />
        <h2 class="font-bold leading-40 md:leading-50">
          {{ title }}
        </h2>
      </div>
    </div>
    <div class="py-35">
      <div class="compare__products-table relative overflow-hidden" v-if="items.length">
        <div class="compare__features absolute top-0 left-0 z-2 border-b border-t border-gray-100 bg-gray-50 bg-opacity-95">
          <div class="compare__top-info py-25 px-10 font-bold relative text-left text-xs border-l border-r border-gray-100 overflow-hidden">
            {{ $t('Products') }}
          </div>
          <ul class="compare__features-list m-0 p-0">
            <li
              v-for="(attr, index) in all_comparable_attributes"
              :key="index"
              class="font-bold text-left compare__features-item py-25 px-10 border-t border-r whitespace-nowrap overflow-ellipsis overflow-hidden text-xs border-gray-100"
            >
              {{ attr.default_frontend_label }}
            </li>
          </ul>
        </div>
        <div class="compare__products-wrapper overflow-x-auto w-full border-b border-t border-gray-100 scrolling-touch">
          <div class="compare__products-columns m-0 p-0 text-center flex">
            <div
              v-for="(product, index) in items"
              :key="index"
              class="compare__product relative text-center"
              data-testid="comparedProduct"
            >
              <div class="compare__top-info px-8 relative text-center border-r border-gray-100 bg-gray-200 overflow-hidden cursor-pointer">
                <div class="check" />
                <product-tile class="col-md-12 collection-product" :product="product" />
              </div>
              <ul class="compare__features-list">
                <li
                  v-for="(attr, attIndex) in all_comparable_attributes"
                  :key="attIndex"
                  class="compare__features-item  text-center compare__features-item py-25 px-10 border-t border-r whitespace-nowrap overflow-ellipsis overflow-hidden text-xs border-gray-100"
                >
                  <product-attribute
                    :key="attr.attribute_code"
                    :product="product"
                    :attribute="attr"
                    empty-placeholder="N/A"
                  />
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="container" v-else>
        <h3 class="text-gray-400 text-md">
          {{ $t('You have no items to compare.') }}
        </h3>
      </div>
    </div>
  </div>
</template>

<script>
import Compare from '@vue-storefront/core/pages/Compare'
import Breadcrumbs from '../components/core/Breadcrumbs'
import ProductTile from '../components/core/ProductTile'
import ProductAttribute from '../components/core/blocks/Compare/ProductAttribute'
import i18n from '@vue-storefront/i18n'

export default {
  components: {
    Breadcrumbs,
    ProductTile,
    ProductAttribute
  },
  mixins: [Compare],
  props: {
    title: {
      type: String,
      required: true
    }
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || this.title || i18n.t('Compare Products'),
      meta: this.$route.meta.description
        ? [{ vmid: 'description', description: this.$route.meta.description }]
        : []
    }
  }
}
</script>

<style lang="scss">
.compare{
  .compare__features {
    width: 210px;
    @media (max-width: 1169px){
      width: 110px;
    }
  }
  .compare__top-info {
    height:400px;
    .product p{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: 100%;
    }
    @media (max-width: 1169px){
      height:350px;
    }
  }
  .compare__product {
    width: 280px;
    min-width:  280px;
    @media (max-width: 1169px){
      width: 245px;
      min-width:245px;
    }
  }
  .compare__products-columns{
    margin-left: 210px;
    @media (max-width: 1169px){
      margin-left:110px;
    }
  }
}
</style>
