<template>
  <div id="page_not_found">
    <section class="bg-gray-200 py-15 md:py-35 px-20">
      <div class="container">
        <h2 class="leading-35 md:leading-50">
          {{ $t("Something went wrong ...") }}
        </h2>
      </div>
    </section>
    <section class="py-15 md:py-35 px-20">
      <div class="container">
        <div class="leading-16 text-sm">
          <p class="pt-15">
            {{ $t("We've noticed Internal Server Error while rendering this request.") }}
          </p>
          <p>
            {{ $t('If you need an assistance you can drop us a line on') }}
            <a href="mailto:contributors@vuestorefront.io" class="text-gray-500 underline">
              {{ $t('a contact page') }}
            </a>
          </p>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Error from '@vue-storefront/core/pages/Error'

export default {
  name: 'Error',
  mixins: [Error]
}
</script>
<style lang="scss" scoped>
  #page_not_found {
    min-height: 545px;
    @media (max-width:767px) {
      min-height: 400px;
    }
  }
</style>
