<template>
  <div id="my_account">
    <div class="align-center" v-if="routeLoading && loading && !isLoggedIn">
      <div class="site-ajax-loader" />
    </div>
    <div v-else>
      <div class="bg-gray-200 py-35">
        <div class="container">
          <breadcrumbs
            :with-homepage="true"
            :routes="[]"
            active-route="My Account"
            class="leading-18"
          />
          <h1 class="font-bold leading-40 md:leading-50">
            {{ $t('My Account') }}
          </h1>
        </div>
      </div>
      <div class="container pt-45 pb-40 md:pb-70 text-base md:text-md">
        <div class="flex -mx-15">
          <div class="md:w-3/12 px-15 hidden md:block">
            <ul class="m-0 p-0 list-none static-menu">
              <li class="mb-20" v-for="(page, index) in navigation" :key="index" @click="notify(page.title)">
                <router-link :to="localizedRoute(page.link)" class="font-playfair text-gray-400 border-b border-gray-300">
                  {{ page.title }}
                </router-link>
              </li>
            </ul>
          </div>
          <div class="w-full md:w-9/12 px-15">
            <no-ssr>
              <component :is="this.$props.activeBlock" />
            </no-ssr>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import MyAccount from '@vue-storefront/core/pages/MyAccount'
import Breadcrumbs from '../components/core/Breadcrumbs'
import MyProfile from '../components/core/blocks/MyAccount/MyProfile'
import MyShippingDetails from '../components/core/blocks/MyAccount/MyShippingDetails'
import MyNewsletter from '../components/core/blocks/MyAccount/MyNewsletter'
import MyOrders from '../components/core/blocks/MyAccount/MyOrders'
import MyOrder from '../components/core/blocks/MyAccount/MyOrder'
import MyRecentlyViewed from '../components/core/blocks/MyAccount/MyRecentlyViewed'
import NoSSR from 'vue-no-ssr'
import { RecentlyViewedModule } from '@vue-storefront/core/modules/recently-viewed'
import { registerModule } from '@vue-storefront/core/lib/modules'
import { mapState } from 'vuex';
import { currentStoreView, localizedRoute } from '@vue-storefront/core/lib/multistore'

async function checkUserLoggedIn (cb) {
  await cb()
}
export default {
  data () {
    return {
      loading: true,
      routeLoading: true,
      navigation: [
        { title: this.$t('My profile'), link: '/my-account' },
        { title: this.$t('My shipping details'), link: '/my-account/shipping-details' },
        { title: this.$t('My newsletter'), link: '/my-account/newsletter' },
        { title: this.$t('My orders'), link: '/my-account/orders' },
        { title: this.$t('My Recently viewed products'), link: '/my-account/recently-viewed' }
      ]
    }
  },
  computed: {
    storeView () {
      return this.curre
    },
    isLoggedIn () {
      return this.$store.getters['user/isLoggedIn']
    }
  },
  components: {
    Breadcrumbs,
    MyProfile,
    MyShippingDetails,
    MyNewsletter,
    MyOrders,
    MyOrder,
    MyRecentlyViewed,
    'no-ssr': NoSSR
  },
  async beforeRouteEnter (to, from, next) {
    next(vm => {
      if (vm.isLoggedIn) {
        vm.routeLoading = false
        next()
      } else {
        next(localizedRoute('/', currentStoreView().storeCode))
      }
    })
  },
  beforeCreate () {
    registerModule(RecentlyViewedModule);
  },
  mixins: [MyAccount],
  methods: {
    notify (title) {
      if (title === 'My loyalty card' || title === 'My product reviews') {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: this.$t('This feature is not implemented yet! Please take a look at https://github.com/DivanteLtd/vue-storefront/issues for our Roadmap!'),
          action1: { label: this.$t('OK') }
        })
      }
    }
  }
}
</script>

<style lang="scss">
@import '~theme/css/base/text';
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);
.static-menu {
  a {
    &:hover,
    &.router-link-exact-active {
      border-bottom-color: transparent;
    }
  }
}
#my_account {
  .site-ajax-loader{
    padding: 250px 0;
  }
}
</style>
