<template>
  <div id="page_not_found">
    <section class="bg-gray-200 py-15 md:py-35 px-20">
      <div class="container">
        <h2 class="leading-35 md:leading-50">
          {{ $t("We can't find the page") }}
        </h2>
      </div>
    </section>
    <section class="py-15 md:py-35 px-20">
      <div class="container">
        <div class="leading-16 text-sm">
          <p class="pt-15">
            {{ $t("Unfortunately we can't find the page you are looking for.") }}
          </p>
          <p>
            {{ $t('If you need an assistance you can drop us a line on') }}
            <router-link :to="localizedRoute('/')" class="text-gray-500 underline">
              {{ $t('a chat') }}
            </router-link>
            {{ $t('or write to us through') }}
            <router-link :to="localizedRoute('/contact')" class="text-gray-500 underline">
              {{ $t('a contact page') }}
            </router-link>.
          </p>
          <p>
            {{ $t('You can also use') }}
            <a href="#" class="text-gray-500 underline" @click="toggleSearchpanel">
              {{ $t('search') }}
            </a>
            {{ $t('to find product you were looking for.') }}
          </p>
        </div>
        <section class="container" v-if="ourBestsellersCollection.length">
          <header class="w-full pt-40">
            <h3 class="text-center">
              {{ $t('See our bestsellers') }}
            </h3>
          </header>
          <lazy-hydrate when-idle>
            <div class="flex flex-wrap justify-items-center">
              <div v-for="product in ourBestsellersCollection" :key="product.id" class="w-full md:w-1/4">
                <product-tile :product="product" />
              </div>
            </div>
          </lazy-hydrate>
        </section>
      </div>
    </section>
  </div>
</template>

<script>
import { mapGetters } from 'vuex'
import { Logger } from '@vue-storefront/core/lib/logger'
import i18n from '@vue-storefront/i18n'
import LazyHydrate from 'vue-lazy-hydration'
import ProductTile from '../components/core/ProductTile.vue'

export default {
  name: 'PageNotFound',
  computed: {
    ...mapGetters({
      ourBestsellersCollection: 'homepage/getBestsellers'
    })
  },
  async asyncData ({ store, route, context }) {
    Logger.log('Entering asyncData for PageNotFound ' + new Date())()
    if (context) {
      context.output.cacheTags.add(`page-not-found`)
      context.server.response.statusCode = 404
    }

    await store.dispatch('homepage/loadBestsellers')
  },
  metaInfo () {
    return {
      title: this.$route.meta.title || i18n.t('404 Page Not Found'),
      meta: this.$route.meta.description ? [{ vmid: 'description', name: 'description', content: this.$route.meta.description }] : []
    }
  },
  components: {
    ProductTile,
    LazyHydrate
  },
  methods: {
    toggleSearchpanel () {
      this.$store.commit('ui/setSearchpanel', true)
    }
  }
}
</script>
<style lang="scss" scoped>
  #page_not_found {
    min-height: 545px;
    @media (max-width:767px) {
      min-height: 400px;
    }
  }
</style>
