<template>
  <div>
    <div class="border-b border-gray-300 pb-20 md:pb-60">
      <h3 class="mt-0 px-15 md:px-30 pt-25 md:pt-50">
        {{ $t('Order Summary') }}
      </h3>
      <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
      <div v-if="productsInCart && productsInCart.length" class="checkout pt-10">
        <div v-for="(segment, index) in totals" :key="index" class="flex py-15 px-15 md:px-30 justify-between font-playfair text-sm md:text-base" v-if="segment.code !== 'grand_total'">
          <div class="pr-15">
            {{ segment.title }}
          </div>
          <div v-if="segment.value != null" class="pl-15 text-md">
            {{ segment.value | price(storeView) }}
          </div>
        </div>

        <div class="flex py-20 px-15 md:px-30 justify-between font-playfair text-22 md:text-lg" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
          <div class="pr-15">
            {{ segment.title }}
          </div>
          <div class="pl-15">
            {{ segment.value | price(storeView) }}
          </div>
        </div>
      </div>
    </div>
    <div class="py-30 md:py-50 px-15 md:px-25">
      <h4 class="mt-0 mb-15 text-md md:text-24">
        {{ $t('Safety') }}
      </h4>
      <p class="text-gray-600 pb-35">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam sed tempor lorem. Vivamus volutpat eros id est semper accumsan.
      </p>
      <h4 class="mt-0 mb-15 text-md md:text-24" v-if="!isVirtualCart">
        {{ $t('Shipping') }}
      </h4>
      <p class="text-gray-600 pb-35" v-if="!isVirtualCart">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam sed tempor lorem. Vivamus volutpat eros id est semper accumsan.
      </p>
      <h4 class="mt-0 mb-15 text-md md:text-24 pb-0">
        {{ $t('Returns') }}
      </h4>
      <p class="text-gray-600">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Nullam sed tempor lorem. Vivamus volutpat eros id est semper accumsan.
      </p>
    </div>
  </div>
</template>

<script>
import { CartSummary } from '@vue-storefront/core/modules/checkout/components/CartSummary'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import Product from './Product'

export default {
  components: {
    Product
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  mixins: [CartSummary]
}
</script>
