<template>
  <div class="payment relative pt-20">
    <div class="flex">
      <div class="w-25 md:w-1/12 relative z-1 -mr-25 md:mr-0">
        <div
          class="w-25 h-25 md:w-35 md:h-35 leading-25 md:leading-35 rounded-full text-center text-white md:font-bold"
          :class="{ 'bg-gray-600' : isActive || isFilled, 'bg-gray-700' : !isFilled && !isActive }"
        >
          {{ (isVirtualCart ? 2 : 3) }}
        </div>
      </div>
      <div class="w-full md:w-11/12">
        <div class="md:flex mb-20 justify-between pl-35 md:pl-0">
          <div class="" :class="{ 'text-gray-500' : !isFilled && !isActive }">
            <h3 class="m-0 leading-normal">
              {{ $t('Payment') }}
            </h3>
          </div>
          <div class="md:pl-30">
            <div class="flex" v-if="isFilled && !isActive">
              <a href="#" class="flex text-gray-500" @click.prevent="edit">
                <span class="pr-5">
                  {{ $t('Edit payment') }}
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#bdbdbd">
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="md:flex md:flex-wrap" v-if="isActive">
          <base-checkbox
            class="w-full mb-35"
            id="sendToShippingAddressCheckbox"
            v-model="sendToShippingAddress"
            v-if="!isVirtualCart"
          >
            {{ $t('Copy address data from shipping') }}
          </base-checkbox>

          <base-checkbox
            v-if="hasBillingData()"
            class="w-full mb-35"
            id="sendToBillingAddressCheckbox"
            v-model="sendToBillingAddress"
          >
            {{ $t('Use my billing data') }}
          </base-checkbox>

          <base-input
            class="w-full md:w-6/12 mb-35 md:pr-15"
            type="text"
            name="first-name"
            :placeholder="$t('First name *')"
            v-model.trim="payment.firstName"
            @blur="$v.payment.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition: $v.payment.firstName.$error && !$v.payment.firstName.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.payment.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="w-full md:w-6/12 mb-35 md:pl-15"
            type="text"
            name="last-name"
            :placeholder="$t('Last name *')"
            v-model.trim="payment.lastName"
            @blur="$v.payment.lastName.$touch()"
            autocomplete="family-name"
            :validations="[{
              condition: $v.payment.lastName.$error && !$v.payment.lastName.required,
              text: $t('Field is required.')
            }]"
          />

          <base-input
            class="w-full mb-35"
            type="text"
            name="street-address"
            :placeholder="$t('Street name *')"
            v-model.trim="payment.streetAddress"
            @blur="$v.payment.streetAddress.$touch()"
            autocomplete="address-line1"
            :validations="[{
              condition: $v.payment.streetAddress.$error && !$v.payment.streetAddress.required,
              text: $t('Field is required.')
            }]"
          />

          <base-input
            class="w-full mb-35"
            type="text"
            name="apartment-number"
            :placeholder="$t('House/Apartment number *')"
            v-model.trim="payment.apartmentNumber"
            @blur="$v.payment.apartmentNumber.$touch()"
            autocomplete="address-line2"
            :validations="[{
              condition: $v.payment.apartmentNumber.$error && !$v.payment.apartmentNumber.required,
              text: $t('Field is required.')
            }]"
          />

          <base-input
            class="w-full md:w-6/12 mb-35 md:pr-15"
            type="text"
            name="city"
            :placeholder="$t('City *')"
            v-model.trim="payment.city"
            @blur="$v.payment.city.$touch()"
            autocomplete="address-level2"
            :validations="[
              {
                condition: $v.payment.city.$error && !$v.payment.city.required,
                text: $t('Field is required.')
              },
              {
                condition: $v.payment.city.$error && $v.payment.city.required,
                text: $t('Please provide valid city name.')
              }
            ]"
          />

          <base-input
            class="w-full md:w-6/12 mb-35 md:pl-15"
            type="text"
            name="state"
            :placeholder="$t('State / Province')"
            v-model.trim="payment.state"
            autocomplete="address-level1"
          />

          <base-input
            class="w-full md:w-6/12 mb-35 md:pr-15"
            type="text"
            name="zip-code"
            :placeholder="$t('Zip-code *')"
            v-model.trim="payment.zipCode"
            @blur="$v.payment.zipCode.$touch()"
            autocomplete="postal-code"
            :validations="[
              {
                condition: $v.payment.zipCode.$error && !$v.payment.zipCode.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.payment.zipCode.minLength,
                text: $t('Zip-code must have at least 3 letters.')
              }
            ]"
          />

          <base-select
            class="w-full md:w-6/12 mb-35 md:pl-15"
            name="countries"
            :options="countryOptions"
            :selected="payment.country"
            :placeholder="$t('Country *')"
            :validations="[
              {
                condition: $v.payment.country.$error && !$v.payment.country.required,
                text: $t('Field is required.')
              }
            ]"
            v-model="payment.country"
            autocomplete="country-name"
            @blur="$v.payment.country.$touch()"
            @change="$v.payment.country.$touch(); changeCountry();"
          />

          <base-input
            class="w-full mb-35"
            type="text"
            name="phone-number"
            :placeholder="`${$t('Phone Number')} *`"
            v-model.trim="payment.phoneNumber"
            :validations="[
              {
                condition: $v.payment.phoneNumber.$error && !$v.payment.phoneNumber.required,
                text: $t('Field is required.')
              }
            ]"
            autocomplete="tel"
            @blur="$v.payment.phoneNumber.$touch()"
          />

          <base-checkbox
            class="w-full mb-35"
            id="generateInvoiceCheckbox"
            v-model="generateInvoice"
          >
            {{ $t('I want to generate an invoice for the company') }}
          </base-checkbox>

          <template class="flex flex-wrap" v-if="generateInvoice">
            <base-input
              class="w-full mb-35"
              type="text"
              name="company-name"
              :placeholder="$t('Company name *')"
              v-model.trim="payment.company"
              @blur="$v.payment.company.$touch()"
              autocomplete="organization"
              :validations="[{
                condition: $v.payment.company.$error && !$v.payment.company.required,
                text: $t('Field is required.')
              }]"
            />

            <base-input
              class="w-full mb-35"
              type="text"
              name="tax-id"
              :placeholder="$t('Tax identification number *')"
              v-model.trim="payment.taxId"
              @blur="$v.payment.taxId.$touch()"
              autocomplete="tax-id"
              :validations="[
                {
                  condition: $v.payment.taxId.$error && !$v.payment.taxId.required,
                  text: $t('Field is required.')
                },
                {
                  condition: !$v.payment.taxId.minLength,
                  text: $t('Tax identification number must have at least 3 letters.')
                }
              ]"
            />

            <div class="w-full">
              <label>
                {{ $t('We will send you the invoice to given e-mail address') }}
              </label>
            </div>
          </template>

          <div class="w-full">
            <h4 class="mt-0">
              {{ $t('Payment method') }}
            </h4>
          </div>
          <div v-for="(method, index) in paymentMethods" :key="index" class="pr-10">
            <label class="radioStyled"> {{ method.title ? method.title : method.name }}
              <input
                type="radio"
                :value="method.code"
                name="payment-method"
                v-model="payment.paymentMethod"
                @change="$v.payment.paymentMethod.$touch(); changePaymentMethod();"
              >
              <span class="checkmark" />
            </label>
          </div>
          <span class="validation-error" v-if="!$v.payment.paymentMethod.required">{{ $t('Field is required.') }}</span>
        </div>
        <div class="w-full md:w-8/12 my-30" v-if="isActive">
          <button-full
            @click.native="sendDataToCheckout"
            data-testid="paymentSubmit"
            :disabled="$v.payment.$invalid"
          >
            {{ $t('Go review the order') }}
          </button-full>
        </div>
        <div class="mb-35" v-if="!isActive && isFilled">
          <p>
            {{ payment.firstName }} {{ payment.lastName }}
          </p>
          <p>
            {{ payment.streetAddress }} {{ payment.apartmentNumber }}
          </p>
          <p>
            {{ payment.city }} {{ payment.zipCode }}
          </p>
          <p>
            <span v-if="payment.state">{{ payment.state }}, </span>
            <span>{{ getCountryName() }}</span>
          </p>
          <div class="flex" v-if="payment.phoneNumber">
            <span class="pr-10">{{ payment.phoneNumber }}</span>
            <tooltip>{{ $t('Phone number may be needed by carrier') }}</tooltip>
          </div>
          <p v-if="generateInvoice">
            {{ payment.company }} {{ payment.taxId }}
          </p>
          <h4 class="pt-15">
            {{ $t('Payment method') }}
          </h4>
          <div>
            <label class="radioStyled"> {{ getPaymentMethod().title }}
              <input type="radio" value="" checked disabled name="chosen-payment-method">
              <span class="checkmark" />
            </label>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength } from 'vuelidate/lib/validators'
import { unicodeAlpha, unicodeAlphaNum } from '@vue-storefront/core/helpers/validators'
import { Payment } from '@vue-storefront/core/modules/checkout/components/Payment'

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import BaseSelect from 'theme/components/core/blocks/Form/BaseSelect'
import ButtonFull from 'theme/components/theme/ButtonFull'
import Tooltip from 'theme/components/core/Tooltip'

export default {
  components: {
    BaseCheckbox,
    BaseInput,
    BaseSelect,
    ButtonFull,
    Tooltip
  },
  mixins: [Payment],
  computed: {
    countryOptions () {
      return this.countries.map((item) => {
        return {
          value: item.code,
          label: item.name
        }
      })
    }
  },
  validations () {
    if (!this.generateInvoice) {
      return {
        payment: {
          firstName: {
            required,
            minLength: minLength(2),
            unicodeAlpha
          },
          lastName: {
            required,
            unicodeAlpha
          },
          country: {
            required
          },
          phoneNumber: {
            required
          },
          streetAddress: {
            required,
            unicodeAlphaNum
          },
          apartmentNumber: {
            required,
            unicodeAlphaNum
          },
          zipCode: {
            required,
            minLength: minLength(3),
            unicodeAlphaNum
          },
          city: {
            required,
            unicodeAlpha
          },
          paymentMethod: {
            required
          }
        }
      }
    } else {
      return {
        payment: {
          firstName: {
            required,
            minLength: minLength(2),
            unicodeAlpha
          },
          lastName: {
            required,
            unicodeAlpha
          },
          company: {
            required,
            unicodeAlphaNum
          },
          taxId: {
            required,
            minLength: minLength(3)
          },
          country: {
            required
          },
          phoneNumber: {
            required
          },
          streetAddress: {
            required,
            unicodeAlphaNum
          },
          apartmentNumber: {
            required,
            unicodeAlphaNum
          },
          zipCode: {
            required,
            minLength: minLength(3),
            unicodeAlphaNum
          },
          city: {
            required,
            unicodeAlpha
          },
          paymentMethod: {
            required
          }
        }
      }
    }
  }
}
</script>
