<template>
  <div class="personal-details">
    <div class="flex">
      <div class="w-25 md:w-1/12 relative z-1 -mr-25 md:mr-0">
        <div
          class="w-25 h-25 md:w-35 md:h-35 leading-25 md:leading-35 text-sm md:text-base rounded-full text-center text-white md:font-bold"
          :class="{ 'bg-gray-600' : isActive || isFilled, 'bg-gray-700' : !isFilled && !isActive }"
        >
          1
        </div>
      </div>
      <div class="w-full md:w-11/12">
        <div class="md:flex mb-20 justify-between pl-35 md:pl-0">
          <div class="" :class="{ 'cl-bg-tertiary' : !isFilled && !isActive }">
            <h3 class="m-0 leading-normal">
              {{ $t('Personal Details') }}
            </h3>
          </div>
          <div class="md:pl-30">
            <div class="flex" v-if="isFilled && !isActive">
              <a href="#" class="flex text-gray-500" @click.prevent="edit">
                <span class="pr-5">
                  {{ $t('Edit personal details') }}
                </span>
                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#bdbdbd">
                  <path d="M0 0h24v24H0z" fill="none" />
                  <path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z" />
                </svg>
              </a>
            </div>
          </div>
        </div>
        <div class="md:flex md:flex-wrap" v-if="isActive">
          <base-input
            class="w-full md:w-6/12 mb-35 md:pr-15"
            type="text"
            :autofocus="true"
            name="first-name"
            :placeholder="$t('First name *')"
            v-model.trim="personalDetails.firstName"
            @blur="$v.personalDetails.firstName.$touch()"
            autocomplete="given-name"
            :validations="[
              {
                condition: $v.personalDetails.firstName.$error && !$v.personalDetails.firstName.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.personalDetails.firstName.minLength,
                text: $t('Name must have at least 2 letters.')
              }
            ]"
          />

          <base-input
            class="w-full md:w-6/12 mb-35 md:pl-15"
            type="text"
            name="last-name"
            :placeholder="$t('Last name *')"
            v-model.trim="personalDetails.lastName"
            @blur="$v.personalDetails.lastName.$touch()"
            autocomplete="family-name"
            :validations="[{
              condition: $v.personalDetails.lastName.$error && !$v.personalDetails.lastName.required,
              text: $t('Field is required.')
            }]"
          />

          <base-input
            class="w-full mb-35"
            type="email"
            name="email-address"
            :placeholder="$t('Email address *')"
            v-model="personalDetails.emailAddress"
            @blur="$v.personalDetails.emailAddress.$touch()"
            autocomplete="email"
            @keyup.enter="sendDataToCheckout"
            :validations="[
              {
                condition: $v.personalDetails.emailAddress.$error && !$v.personalDetails.emailAddress.required,
                text: $t('Field is required.')
              },
              {
                condition: !$v.personalDetails.emailAddress.email && $v.personalDetails.emailAddress.$error,
                text: $t('Please provide valid e-mail address.')
              }
            ]"
          />

          <base-checkbox
            v-if="!currentUser"
            class="w-full mb-35"
            id="createAccountCheckbox"
            v-model="createAccount"
          >
            {{ $t('I want to create an account') }}
          </base-checkbox>

          <template v-if="createAccount && !currentUser">
            <base-input
              class="w-full mb-35"
              type="password"
              name="password"
              ref="password"
              :placeholder="$t('Password *')"
              v-model="password"
              @blur="$v.password.$touch()"
              autocomplete="new-password"
              :validations="[{
                condition: $v.password.$error && !$v.password.required,
                text: $t('Field is required.')
              }]"
            />

            <base-input
              class="w-full mb-35"
              type="password"
              name="password-confirm"
              :placeholder="$t('Repeat password *')"
              v-model="rPassword"
              autocomplete="new-password"
              :validations="[
                {
                  condition: $v.rPassword.$error && !$v.rPassword.required,
                  text: $t('Field is required.')
                },
                {
                  condition:!$v.rPassword.sameAsPassword,
                  text: $t('Passwords must be identical.')
                }
              ]"
            />

            <base-checkbox
              class="col-xs-12 mb-35"
              id="acceptConditions"
              @blur="$v.acceptConditions.$touch()"
              v-model="acceptConditions"
              :validations="[{
                condition: !$v.acceptConditions.sameAs && $v.acceptConditions.$error,
                text: $t('You must accept the terms and conditions.')
              }]"
            >
              {{ $t('I accept') + '&nbsp;' }}
              <span
                class="link pointer"
                @click.prevent="$bus.$emit('modal-toggle', 'modal-terms')"
              >
                {{ $t('Terms and conditions') }}
              </span>*
            </base-checkbox>
          </template>
        </div>
        <div class="md:flex mb-30 items-center" v-show="isActive">
          <div class="w-full md:w-7/12 md:pr-20 button-container">
            <button-full
              data-testid="personalDetailsSubmit"
              @click.native="sendDataToCheckout"
              :disabled="createAccount ? $v.$invalid : $v.personalDetails.$invalid"
            >
              {{ $t((isVirtualCart ? 'Continue to payment' : 'Continue to shipping')) }}
            </button-full>
          </div>
          <div
            class="w-full md:w-5/12 text-center md:text-left pt-10 md:pt-0"
            v-if="!currentUser"
          >
            <p class="text-center text-gray-400 text-md p-0">
              {{ $t('or') }}
              <span
                class="text-gray-400 hover:text-black underline cursor-pointer"
                @click.prevent="gotoAccount"
              >
                {{ $t('login to your account') }}
              </span>
            </p>
          </div>
        </div>
        <div class="mb-35" v-if="!isActive && isFilled">
          <p>
            {{ personalDetails.firstName }} {{ personalDetails.lastName }}
          </p>
          <div class="flex">
            <span class="pr-10">{{ personalDetails.emailAddress }}</span>
            <tooltip>{{ $t('We will send you details regarding the order') }}</tooltip>
          </div>
          <template v-if="createAccount && !currentUser">
            <base-checkbox
              class="mt25"
              id="createAccountCheckboxInfo"
              v-model="createAccount"
              disabled
            >
              {{ $t('Create a new account') }}
            </base-checkbox>
            <p>
              {{ $t('The new account will be created with the purchase. You will receive details on e-mail.') }}
            </p>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { required, minLength, email, sameAs } from 'vuelidate/lib/validators'
import { PersonalDetails } from '@vue-storefront/core/modules/checkout/components/PersonalDetails'

import BaseCheckbox from 'theme/components/core/blocks/Form/BaseCheckbox'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import ButtonFull from 'theme/components/theme/ButtonFull'
import Tooltip from 'theme/components/core/Tooltip'

export default {
  components: {
    ButtonFull,
    Tooltip,
    BaseCheckbox,
    BaseInput
  },
  mixins: [PersonalDetails],
  validations: {
    personalDetails: {
      firstName: {
        required,
        minLength: minLength(2)
      },
      lastName: {
        required
      },
      emailAddress: {
        required,
        email
      }
    },
    password: {
      required
    },
    rPassword: {
      required,
      sameAsPassword: sameAs('password')
    },
    acceptConditions: {
      sameAs: sameAs(() => true)
    }
  }
}
</script>
