<template>
  <div class="flex p-15 md:p-25 justify-between">
    <div class="product-image-wrap blend w-100 md:w-3/12 pr-10">
      <product-image :image="image" />
    </div>
    <div class="w-9/12">
      <div class="md:flex">
        <div class="w-full md:w-9/12 pb-15">
          <div class="mb-15">
            <h4 class="m-0 font-normal">
              {{ product.name | htmlDecode }}
            </h4>
            <div class="error" v-if="product.errors && Object.keys(product.errors).length > 0">
              {{ product.errors | formatProductMessages }}
            </div>
            <div class="text-gray-300">
              {{ product.sku }}
            </div>
            <div class="text-12 text-gray-400" v-if="product.totals && product.totals.options">
              <div v-for="opt in product.totals.options" :key="opt.label">
                <span class="opn">{{ opt.label }}: </span>
                <span class="opv" v-html="opt.value" />
              </div>
            </div>
            <div class="text-12 text-gray-400" v-else-if="product.options">
              <div v-for="opt in product.options" :key="opt.label">
                <span class="opn">{{ opt.label }}: </span>
                <span class="opv" v-html="opt.value" />
              </div>
            </div>
          </div>
          <div>
            <span class="text-12 text-gray-400">
              {{ $t('Qty:') }}
              <span class="font-bold">
                {{ product.qty }}
              </span>
            </span>
          </div>
        </div>
        <div class="w-full md:w-3/12 font-playfair text-right text-md">
          <div v-if="isOnline && product.totals">
            <span class="text-burnt-sienna" v-if="product.totals.discount_amount">{{ product.totals.row_total - product.totals.discount_amount + product.totals.tax_amount | price(storeView) }} </span>
            <span class="block line-through text-sm price-original" v-if="product.totals.discount_amount">{{ product.totals.row_total_incl_tax | price(storeView) }}</span>
            <span class="" v-if="!product.totals.discount_amount">{{ product.totals.row_total_incl_tax | price(storeView) }}</span>
          </div>
          <div v-else>
            <span class="" v-if="product.special_price">{{ product.price_incl_tax * product.qty | price(storeView) }} </span>
            <span class="block line-through text-sm price-original" v-if="product.special_price">{{ product.original_price_incl_tax * product.qty | price(storeView) }}</span>
            <span class="" v-if="!product.special_price">{{ product.price_incl_tax * product.qty | price(storeView) }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { Product } from '@vue-storefront/core/modules/checkout/components/Product'
import { onlineHelper } from '@vue-storefront/core/helpers'
import ProductImage from 'theme/components/core/ProductImage'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  computed: {
    storeView () {
      return currentStoreView()
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    }
  },
  mixins: [Product],
  components: {
    ProductImage
  }
}
</script>
<style lang="scss" scoped>
.product-image-wrap {
  width: 32.5%;
}
</style>
