<template>
  <section class="border-b border-gray-300 head-image overflow-hidden w-full h-full bg-gray-100 relative object-cover" v-if="currentImage">
    <img :src="currentImage.image" height="777" width="1854" class="w-full absolute inset-0 top-36 md:-top-25 lg:-top-1/4  max-w-none max-h-none" alt="">
    <div class="absolute top-0 left-0 head-image-content ml-15 mt-10 md:pt-30 z-1">
      <h1 class="m-0 text-22 md:text-22  lg:text-55 font-bold" data-testid="mainSliderTitle">
        {{ currentImage.title }}
      </h1>
      <p
        class="m-0 md:w-1/2 lg:w-1/2  text-sm md:text-xs pt-10 leading-17"
        data-testid="mainSliderSubtitle"
      >
        {{ currentImage.subtitle }}
      </p>
    </div>
  </section>
</template>

<script>
// import ButtonOutline from 'theme/components/theme/ButtonOutline'
import { mapGetters } from 'vuex'

export default {
  components: {
    // ButtonOutline
  },
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters({
      currentImage: 'promoted/getHeadImage'
    })
  },
  metaInfo () {
    return {
      link: [{ rel: 'preload', as: 'image', href: this.currentImage.image }]
    }
  }
}
</script>

<style lang="scss" scoped>
.head-image {
  .head-image-content {
    margin-left: 15%;
    @media (max-width: 767px) {
      margin-left:5%;
      margin-right:5%;
    }
  }
}
.head-image {
  padding-top: 33.51%;
  @media (max-width:767px) {
    top: inherit;
    bottom: 0px;
  }
  @media (max-width:600px) {
    padding-top: 44.51%;
  }
  @media (max-width:450px) {
    padding-top: 57.51%;
    img{
      top: inherit;
      bottom: 0;
    }
  }
}
</style>
