<template>
  <div
    class="searchpanel mw-100 bg-white text-gray-400"
    data-testid="searchPanel"
  >
    <div class="close-icon-row flex justify-end">
      <i
        class="cursor-pointer close-icon py-23 px-14 opacity-60 hover:opacity-100"
        @click="closeSearchpanel"
        data-testid="closeSearchPanel"
      >
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 1L13 13M13 1L1 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
      </i>
    </div>
    <div class="p-20 pt-0 md:p-40 md:pt-0">
      <div class="search-title">
        <label for="search" class="overflow-hidden h-0 absolute right-0 top-0">
          {{ $t('Search') }}
        </label>
        <div class="search-input-group flex border-b border-gray-300">
          <i class="search-icon justify-center w-60 h-60 flex items-center opacity-60">
            <svg width="20" height="19" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7.9502 7L18.9298 20" stroke="#231F20" stroke-width="1.25" stroke-linecap="round" />
              <path d="M16.3083 7.99999C16.3083 12.0742 13.0119 15.375 8.94809 15.375C4.88426 15.375 1.58789 12.0742 1.58789 7.99999C1.58789 3.9258 4.88426 0.624999 8.94809 0.624999C13.0119 0.624999 16.3083 3.9258 16.3083 7.99999Z" fill="white" stroke="#231F20" stroke-width="1.25" />
            </svg>
          </i>
          <input
            ref="search"
            id="search"
            v-model="search"
            @input="makeSearch"
            @blur="$v.search.$touch()"
            class="font-playfair search-panel-input w-full h-60 pb-0 pt-0 border-0 text-base md:text-md text-black"
            :placeholder="$t('Type what you are looking for...')"
            type="search"
            autofocus="true"
          >
        </div>
      </div>
      <div v-if="visibleProducts.length && categories.length > 1" class="categories">
        <category-panel :categories="categories" v-model="selectedCategoryIds" />
      </div>
      <div class="product-listing pt-30">
        <div class="grid-cols-2 md:grid-cols-2 lg:grid-cols-3 gap-x-31 grid">
          <product-tile
            v-for="product in visibleProducts"
            :key="product.id"
            :product="product"
            @click.native="closeSearchpanel"
          />
        </div>
        <transition name="fade">
          <div
            v-if="getNoResultsMessage"
            class="no-results relative text-center top-80 w-full"
          >
            {{ $t(getNoResultsMessage) }}
          </div>
        </transition>
      </div>
      <div
        v-show="OnlineOnly"
        v-if="visibleProducts.length >= 18"
        class="buttons-set text-center pt-35 mt-20"
      >
        <button
          @click="seeMore" v-if="readMore"
          class="button-full w-auto py-13 px-20 text-sm min-w-0"
          type="button"
        >
          {{ $t('Load more') }}
        </button>
        <button
          @click="closeSearchpanel"
          class="button-full w-auto py-13 px-20 text-sm min-w-0 bg-transparent text-black hover:bg-gray-100"
          type="button"
        >
          {{ $t('Close') }}
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import SearchPanel from '@vue-storefront/core/compatibility/components/blocks/SearchPanel/SearchPanel'
import ProductTile from 'theme/components/core/ProductTile'
import VueOfflineMixin from 'vue-offline/mixin'
import CategoryPanel from 'theme/components/core/blocks/Category/CategoryPanel'
import { minLength } from 'vuelidate/lib/validators'

export default {
  components: {
    ProductTile,
    CategoryPanel
  },
  mixins: [SearchPanel, VueOfflineMixin],
  validations: {
    search: {
      minLength: minLength(3)
    }
  },
  data () {
    return {
      selectedCategoryIds: []
    }
  },
  computed: {
    visibleProducts () {
      const productList = this.products || []
      if (this.selectedCategoryIds.length) {
        return productList.filter(product => product.category_ids.some(categoryId => {
          return this.selectedCategoryIds.includes(categoryId)
        }))
      }
      return productList
    },
    categories () {
      const categories = this.products
        .filter(p => p.category)
        .map(p => p.category)
        .flat()

      const distinctCategories = Array.from(
        new Set(categories.map(c => c.category_id))
      ).map(catId => categories.find(c => c.category_id === catId))

      return distinctCategories
    },
    getNoResultsMessage () {
      let msg = ''
      if (!this.$v.search.minLength) {
        msg = 'Searched term should consist of at least 3 characters.'
      } else if (this.emptyResults) {
        msg = 'No results were found.'
      }
      return msg
    }
  },
  watch: {
    categories () {
      this.selectedCategoryIds = []
    }
  },
  mounted () {
    // add autofocus to search input field
    this.$refs.search.focus()
  }
}
</script>

<style lang="scss" scoped>
@import "~theme/css/animations/transitions";
@import "~theme/css/variables/grid";
@import "~theme/css/variables/typography";

.searchpanel {
  height: 100vh;
  width: 800px;
  @media (max-width: 799px) {
    width: 100%;
  }
  input[type="search"]::-webkit-search-decoration,
  input[type="search"]::-webkit-search-cancel-button,
  input[type="search"]::-webkit-search-results-button,
  input[type="search"]::-webkit-search-results-decoration { cursor: pointer; }
  input[type="search"] {-webkit-appearance: textfield;}
  input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
}
</style>
