<template>
  <div>
    <!-- My newsletter header -->
    <div class="mb-25">
      <h3 class="m-0 mb-5 font-bold ">
        {{ $t('My newsletter') }}
      </h3>
    </div>

    <!-- My newsletter body (both modes) -->
    <div class="flex flex-wrap -mx-15">
      <div class="w-full px-15">
        <h4 class="font-bold mt-10 mb-24">
          {{ $t('General agreement') }}
        </h4>
      </div>

      <base-checkbox
        class="w-full px-15 mb-25 text-gray-400"
        id="generalAgreement"
        v-model="user.isSubscribed"
        @click="edit()"
      >
        {{ $t('I want to receive a newsletter, and agree to its terms') }}
      </base-checkbox>

      <div class="w-full md:w-6/12 px-15">
        <button-full @click.native="updateNewsletter">
          {{ $t('Update my preferences') }}
        </button-full>
      </div>
    </div>
  </div>
</template>

<script>
import { Newsletter } from '@vue-storefront/core/modules/newsletter/components/Newsletter'
import ButtonFull from 'theme/components/theme/ButtonFull.vue'
import BaseCheckbox from '../Form/BaseCheckbox.vue'
import i18n from '@vue-storefront/i18n'

export default {
  components: {
    ButtonFull,
    BaseCheckbox
  },
  data () {
    return {
    }
  },
  methods: {
    edit () {
      this.isEdited = true
    },
    async updateNewsletter () {
      if (this.user.isSubscribed) {
        const isSubscribed = await this.$store.dispatch('newsletter/subscribe', this.email)

        if (isSubscribed) {
          this.$store.dispatch('notification/spawnNotification', {
            type: 'success',
            message: i18n.t('You have been successfully subscribed to our newsletter!'),
            action1: { label: i18n.t('OK') }
          })
        }
        return
      }

      const isUnsubscribed = await this.$store.dispatch('newsletter/unsubscribe', this.email)
      if (isUnsubscribed) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'success',
          message: i18n.t('You have been successfully unsubscribed from our newsletter!'),
          action1: { label: i18n.t('OK') }
        })
      }
    }
  },
  mixins: [Newsletter]
}
</script>
