<template>
  <div v-if="order">
    <!-- My order header -->
    <div class="flex flex-wrap -mx-15 mb-30">
      <div class="w-full md:w-2/12 lg:w-1/12 px-15">
        <return-icon class="pointer" />
      </div>
      <div class="w-full md:w-6/12 px-15">
        <h3 class="my-5 font-bold">
          {{ $t('Order #{id}', { id: order.increment_id }) }}
          <span class="border font-roboto border-gray-200 py-5 px-10 ml-20 text-sm not-italic text-gray-500">
            {{ order.status | capitalize }}
          </span>
        </h3>
      </div>
    </div>
    <!-- My order body -->
    <div class="mb-20">
      <p>{{ order.created_at | date('LLL', storeView) }}</p>
      <p class="mt-15">
        <a href="#" class="underline text-gray-400" @click.prevent="remakeOrder(singleOrderItems)">{{ $t('Remake order') }}</a>
      </p>
    </div>
    <div class="mb35">
      <h4 class="my-24">
        {{ $t('Items ordered') }}
      </h4>
      <table>
        <thead class="hidden md:table-header-group">
          <tr>
            <th>
              {{ $t('Product Name') }}
            </th>
            <th>
              {{ $t('SKU') }}
            </th>
            <th>
              {{ $t('Price') }}
            </th>
            <th>
              {{ $t('Qty') }}
            </th>
            <th>
              {{ $t('Subtotal') }}
            </th>
            <th>
              {{ $t('Thumbnail') }}
            </th>
          </tr>
        </thead>
        <tbody>
          <tr class="border-t border-gray-200 leading-25 block md:table-row even:bg-gray-200" v-for="item in singleOrderItems" :key="item.item_id">
            <td class="block md:table-cell" :data-th="$t('Product Name')">
              {{ item.name }}
            </td>
            <td class="block md:table-cell" :data-th="$t('SKU')">
              {{ item.sku }}
            </td>
            <td class="block md:table-cell" :data-th="$t('Price')">
              {{ item.price_incl_tax | price(storeView) }}
            </td>
            <td class="text-left md:text-right block md:table-cell" :data-th="$t('Qty')">
              {{ item.qty_ordered }}
            </td>
            <td class="block md:table-cell" :data-th="$t('Subtotal')">
              {{ item.row_total_incl_tax | price(storeView) }}
            </td>
            <td class="block md:table-cell">
              <product-image :image="{src: itemThumbnail[item.sku]}" />
            </td>
          </tr>
        </tbody>
        <tfoot class="py-20 md:py-0">
          <tr class="border-t border-gray-200 block md:table-row">
            <td colspan="5" class="text-left md:text-right font-bold md:font-normal px-20 py-10 md:py-20 block md:table-cell">
              {{ $t('Subtotal') }}
            </td>
            <td class="px-20 pb-10 md:py-20  block md:table-cell">
              {{ order.subtotal | price(storeView) }}
            </td>
          </tr>
          <tr class="block md:table-row">
            <td colspan="5" class="text-left md:text-right font-bold md:font-normal px-20 py-10 md:py-20 block md:table-cell">
              {{ $t('Shipping') }}
            </td>
            <td class="px-20 pb-10 md:py-20 block md:table-cell">
              {{ order.shipping_amount | price(storeView) }}
            </td>
          </tr>
          <tr class="block md:table-row">
            <td colspan="5" class="text-left md:text-right font-bold md:font-normal px-20 py-10 md:py-20 block md:table-cell">
              {{ $t('Tax') }}
            </td>
            <td class="px-20 pb-10 md:py-20 block md:table-cell">
              {{ order.tax_amount + order.discount_tax_compensation_amount | price(storeView) }}
            </td>
          </tr>
          <tr class="block md:table-row" v-if="order.discount_amount">
            <td colspan="5" class="text-left md:text-right font-bold md:font-normal px-20 py-10 md:py-20 block md:table-cell">
              {{ $t('Discount') }}
            </td>
            <td class="px-20 pb-10 md:py-20 block md:table-cell">
              {{ order.discount_amount | price(storeView) }}
            </td>
          </tr>
          <tr class="block md:table-row">
            <td colspan="5" class="text-left md:text-right font-bold md:font-normal px-20 py-10 md:py-20 block md:table-cell">
              {{ $t('Grand total') }}
            </td>
            <td class="px-20 pb-10 md:py-20 block md:table-cell">
              {{ order.grand_total | price(storeView) }}
            </td>
          </tr>
        </tfoot>
      </table>
    </div>
    <div class="text-base mt-50">
      <h4 class="mb-20">
        {{ $t('Order informations') }}
      </h4>
      <div class="flex flex-wrap -mx-15">
        <div class="w-full sm:w-1/2 md:w-1/4 px-15 text-base md:text-md" v-if="shippingAddress">
          <h5 class="my-24">
            {{ $t('Shipping address') }}
          </h5>
          <address class="not-italic">
            <p>{{ shippingAddress.firstname }} {{ shippingAddress.lastname }}</p>
            <p>{{ shippingAddress.street[0] }} {{ shippingAddress.street[1] }}</p>
            <p>{{ shippingAddress.postcode }} {{ shippingAddress.city }}</p>
            <p>{{ shippingAddress.country }}</p>
          </address>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/4 px-15 text-base md:text-md" v-if="order.shipping_description">
          <h5 class="my-24">
            {{ $t('Shipping method') }}
          </h5>
          <p>{{ order.shipping_description }}</p>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/4 px-15 text-base md:text-md">
          <h5 class="my-24">
            {{ $t('Billing address') }}
          </h5>
          <address class="not-italic">
            <p>{{ billingAddress.firstname }} {{ billingAddress.lastname }}</p>
            <p>{{ billingAddress.street[0] }} {{ billingAddress.street[1] }}</p>
            <p>{{ billingAddress.postcode }} {{ billingAddress.city }}</p>
            <p>{{ billingAddress.country }}</p>
          </address>
        </div>
        <div class="w-full sm:w-1/2 md:w-1/4 px-15 text-base md:text-md">
          <h5 class="my-24">
            {{ $t('Payment method') }}
          </h5>
          <p>{{ paymentMethod }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import MyOrder from '@vue-storefront/core/compatibility/components/blocks/MyAccount/MyOrder'
import ReturnIcon from 'theme/components/core/blocks/Header/ReturnIcon'
import ProductImage from 'theme/components/core/ProductImage'
import { getThumbnailPath, productThumbnailPath } from '@vue-storefront/core/helpers'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { mapActions } from 'vuex'

export default {
  mixins: [MyOrder],
  components: {
    ReturnIcon,
    ProductImage
  },
  data () {
    return {
      itemThumbnail: []
    }
  },
  computed: {
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    ...mapActions({
      getProduct: 'product/single'
    })
  },
  mounted () {
    this.singleOrderItems.forEach(async item => {
      if (!this.itemThumbnail[item.sku]) {
        const product = await this.getProduct({ options: { sku: item.sku } })
        const thumbnail = productThumbnailPath(product)
        Vue.set(this.itemThumbnail, item.sku, getThumbnailPath(thumbnail, 280, 280))
      }
    })
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
$color-tertiary: color(tertiary);
$color-white-smoke: color(white-smoke);

table {
  tbody {
    td {
      @media (max-width: 767px) {
        &:before {
          content: attr(data-th) ': ';
          font-weight: 700;
        }
      }
    }

  }
}
</style>
