<template>
  <div>
    <!-- My orders header -->
    <div class="mb-17">
      <h3 class="m-0">
        {{ $t('My orders') }}
      </h3>
    </div>
    <!-- My orders body -->
    <div>
      <div class="table-wrap pb-20 overflow-hidden md:overflow-auto" v-show="!isHistoryEmpty">
        <table class="text-center md:text-left">
          <thead>
            <tr>
              <th>
                {{ $t('Order ID') }}
              </th>
              <th class="hidden md:table-cell">
                {{ $t('Date and time') }}
              </th>
              <th class="hidden md:table-cell">
                {{ $t('Author') }}
              </th>
              <th class="hidden md:table-cell">
                {{ $t('Value') }}
              </th>
              <th class="hidden md:table-cell">
                {{ $t('Type') }}
              </th>
              <th class="hidden md:table-cell">
                {{ $t('Status') }}
              </th>
              <th>
                &nbsp;
              </th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="order in ordersHistory" :key="order.entity_id">
              <td>
                #{{ order.increment_id }}
              </td>
              <td class="hidden md:table-cell">
                {{ order.created_at | date(null, storeView) }}
              </td>
              <td class="hidden md:table-cell">
                {{ order.customer_firstname }} {{ order.customer_lastname }}
              </td>
              <td class="hidden md:table-cell">
                {{ order.grand_total | price(storeView) }}
              </td>
              <td class="hidden md:table-cell">
                {{ $t('Purchase') }}
              </td>
              <td class="hidden md:table-cell">
                {{ order.status | capitalize }}
              </td>
              <td>
                <span class="relative group block dropdown">
                  <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#828282" class="cursor-pointer m-auto md:m-0">
                    <path d="M0 0h24v24H0V0z" fill="none" />
                    <path d="M6 10c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm12 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2zm-6 0c-1.1 0-2 .9-2 2s.9 2 2 2 2-.9 2-2-.9-2-2-2z" />
                  </svg>
                  <div class="dropdown-content">
                    <router-link class="hover:bg-gray-200 hover:opacity-100" :to="localizedRoute(`/my-account/orders/${order.entity_id}`)">
                      {{ $t('View order') }}
                    </router-link>
                    <a href="#" class="hover:bg-gray-200 hover:opacity-100" @click.prevent="remakeOrder(skipGrouped(order.items))">{{ $t('Remake order') }}</a>
                  </div>
                </span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <div v-show="isHistoryEmpty">
        <p>{{ $t('No orders yet') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import UserOrder from '@vue-storefront/core/modules/order/components/UserOrdersHistory'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'

export default {
  mixins: [UserOrder],
  computed: {
    storeView () {
      return currentStoreView()
    }
  }
}
</script>
