<template>
  <div class="my-recently-product">
    <div class="mb-15">
      <h3 class="mt-0 mb-5">
        {{ $t('My Recently viewed products') }}
      </h3>
    </div>
    <div class="text-base text-gray-400">
      <div v-if="items && items.length > 0">
        <product-listing columns="3" :products="items" />
      </div>
      <div v-else>
        <p>{{ $t('No products yet') }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import RecentlyViewed from '@vue-storefront/core/modules/recently-viewed/components/RecentlyViewed'
import ProductListing from 'theme/components/core/ProductListing.vue'

export default {
  mixins: [RecentlyViewed],
  components: {
    ProductListing
  }
}
</script>
<style>
.my-recently-product .product > a > span {
    color: #828282;
}
</style>
