<template>
  <div
    class="microcart  text-gray-400 relative"
    :class="[productsInCart.length ? 'bg-gray-200' : 'bg-white']"
    data-testid="microcart"
  >
    <transition name="fade" class="w-full">
      <div v-if="isEditMode" class="overlay" @click="closeEditMode" />
    </transition>
    <div class=" close-icon-row flex justify-end bg-white">
      <button
        type="button"
        class="brdr-none bg-transparent close py-23 px-14 opacity-60 hover:opacity-100"
        @click="closeMicrocartExtend"
        data-testid="closeMicrocart"
      >
        <i class="cursor-pointer close-icon">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L13 13M13 1L1 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </i>
      </button>
    </div>
    <div class="px-20  md:px-40  bg-white">
      <div class="flex w-full items-center justify-between pt-21 pb-35" v-if="productsInCart.length">
        <h2
          v-if="productsInCart.length"
          class="m-0 text-lg md:text-xl font-semibold"
        >
          {{ $t('Shopping cart') }}
        </h2>
        <clear-cart-button
          class="justify-end inline-flex"
          v-if="productsInCart.length"
          @click.native="clearCart"
        />
      </div>

      <h4 v-if="!productsInCart.length" class="m-0 text-md font-semibold py-20">
        {{ $t('Your shopping cart is empty.') }}
      </h4>
      <div v-if="!productsInCart.length" @click="closeMicrocartExtend">
        {{ $t("Don't hesitate and") }}
        <router-link :to="localizedRoute('/')" class="font-semibold text-black">
          {{ $t('browse our catalog') }}
        </router-link>
        {{ $t('to find something beautiful for You!') }}
      </div>
    </div>
    <div v-if="productsInCart.length" class="bg-white p-20 pt-0 md:p-40 md:pt-0 products">
      <product v-for="product in productsInCart" :key="product.server_item_id || product.id" :product="product" />
    </div>
    <div v-if="productsInCart.length" class="summary  p-20 pt-0 md:p-40 md:pt-0 cl-accent serif">
      <h3 class="m-0 py-10 sm:py-40 summary-heading  text-md md:text-lg font-normal">
        {{ $t('Shopping summary') }}
      </h3>
      <div v-for="(segment, index) in totals" :key="index" class="flex py-5 sm:py-10  justify-between" v-if="segment.code !== 'grand_total'">
        <div class="col-xs">
          {{ segment.title }}
          <button v-if="appliedCoupon && segment.code === 'discount'" type="button" class="p0 brdr-none bg-cl-transparent close delete-button ml10" @click="clearCoupon">
            <i class="material-icons cl-accent">
              close
            </i>
          </button>
        </div>
        <div v-if="segment.value != null" class="col-xs align-right">
          {{ segment.value | price(storeView) }}
        </div>
      </div>
      <div class="flex py-5 sm:py-10  justify-between">
        <div v-if="OnlineOnly && !addCouponPressed" class="col-xs-12">
          <button
            class="p0 brdr-none serif fs-medium-small cl-accent bg-cl-transparent"
            type="button"
            @click="addDiscountCoupon"
          >
            {{ $t('Add a discount code') }}
          </button>
        </div>
        <div v-if="OnlineOnly && addCouponPressed" class="w-full flex items-end coupon-wrapper">
          <div class="coupon-input w-9/12 sm:w-7/12 md:w-8/12 pr-20">
            <label class="h6 cl-secondary">{{ $t('Discount code') }}</label>
            <base-input class="bg-transparent" type="text" id="couponinput" :autofocus="true" v-model.trim="couponCode" @keyup.enter="setCoupon" />
          </div>
          <button-outline class="w-3/12 sm:w-5/12 h-60 md:w-4/12 py-15" color="dark" :disabled="!couponCode" @click.native="setCoupon">
            {{ $t('Add discount code') }}
          </button-outline>
        </div>
      </div>
      <div class="flex py-5 sm:py-10  justify-between items-center" v-for="(segment, index) in totals" :key="index" v-if="segment.code === 'grand_total'">
        <div class="total-price-label  text-md font-semibold">
          {{ segment.title }}
        </div>
        <div class="total-price-value  text-lg sm:text-xl font-semibold">
          {{ segment.value | price(storeView) }}
        </div>
      </div>
    </div>
    <div
      class="flex-wrap flex items-center justify-between p-20 pt-0 md:p-40 md:pt-0 middle-xs actions"
      v-if="productsInCart.length && !isCheckoutMode"
    >
      <div class="order-3 w-full sm:w-7/12 md:w-8/12 sm:order-none pt-15 sm:pt-0 text-center sm:text-left">
        <router-link :to="localizedRoute('/')" class="no-underline hover:text-black">
          <span @click="closeMicrocartExtend">
            {{ $t('Return to shopping') }}
          </span>
        </router-link>
      </div>
      <div class="w-full sm:w-5/12 md:w-4/12">
        <button-full
          :link="{ name: 'checkout' }"
          class="text-center"
          @click.native="closeMicrocartExtend && closeEditMode"
        >
          {{ $t('Go to checkout') }}
        </button-full>
        <instant-checkout v-if="isInstantCheckoutRegistered" class="no-outline button-full block brdr-none w-ful mt-10" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from 'vuex'
import i18n from '@vue-storefront/i18n'
import { isModuleRegistered, registerModule } from '@vue-storefront/core/lib/modules'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import VueOfflineMixin from 'vue-offline/mixin'
import onEscapePress from '@vue-storefront/core/mixins/onEscapePress'
import InstantCheckout from 'src/modules/instant-checkout/components/InstantCheckout.vue'
import BaseInput from 'theme/components/core/blocks/Form/BaseInput'
import ClearCartButton from 'theme/components/core/blocks/Microcart/ClearCartButton'
import ButtonFull from 'theme/components/theme/ButtonFull'
import ButtonOutline from 'theme/components/theme/ButtonOutline'
import Product from 'theme/components/core/blocks/Microcart/Product'
import EditMode from './EditMode'
import { InstantCheckoutModule } from 'src/modules/instant-checkout'

export default {
  components: {
    Product,
    ClearCartButton,
    ButtonFull,
    ButtonOutline,
    BaseInput,
    InstantCheckout
  },
  mixins: [
    VueOfflineMixin,
    EditMode,
    onEscapePress
  ],
  data () {
    return {
      addCouponPressed: false,
      couponCode: '',
      componentLoaded: false,
      isInstantCheckoutRegistered: isModuleRegistered('InstantCheckoutModule')
    }
  },
  props: {
    isCheckoutMode: {
      type: Boolean,
      required: false,
      default: () => false
    }
  },
  beforeCreate () {
    registerModule(InstantCheckoutModule)
  },
  mounted () {
    this.$nextTick(() => {
      this.componentLoaded = true
    })
  },
  computed: {
    ...mapGetters({
      productsInCart: 'cart/getCartItems',
      appliedCoupon: 'cart/getCoupon',
      totals: 'cart/getTotals',
      isOpen: 'cart/getIsMicroCartOpen'
    }),
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    ...mapActions({
      applyCoupon: 'cart/applyCoupon'
    }),
    addDiscountCoupon () {
      this.addCouponPressed = true
    },
    clearCoupon () {
      this.$store.dispatch('cart/removeCoupon')
      this.addCouponPressed = false
    },
    toggleMicrocart () {
      this.$store.dispatch('ui/toggleMicrocart')
    },
    async setCoupon () {
      const couponApplied = await this.applyCoupon(this.couponCode)
      this.addCouponPressed = false
      this.couponCode = ''
      if (!couponApplied) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'warning',
          message: i18n.t("You've entered an incorrect coupon code. Please try again."),
          action1: { label: i18n.t('OK') }
        })
      }
    },
    closeMicrocartExtend () {
      this.toggleMicrocart()
      this.$store.commit('ui/setSidebar', false)
      this.addCouponPressed = false
    },
    onEscapePress () {
      this.$store.dispatch('ui/closeMicrocart')
    },
    clearCart () {
      this.$store.dispatch('notification/spawnNotification', {
        type: 'warning',
        message: i18n.t('Are you sure you would like to remove all the items from the shopping cart?'),
        action1: { label: i18n.t('Cancel'), action: 'close' },
        action2: { label: i18n.t('OK'),
          action: async () => {
            // We just need to clear cart on frontend and backend.
            // but cart token can be reused
            await this.$store.dispatch('cart/clear', { disconnect: false })
          }
        },
        hasNoTimeout: true
      })
    }
  }
}
</script>
