<template>
  <div class="py-10 w-full" :class="{ 'relative bg-white p-10 z-5': editMode }">
    <div class="mx10 w-full mb-15 pb-10 edit-mode border-b border-gray-200 flex justify-between middle-xs" v-if="editMode">
      Edit mode
      <button class="brdr-none opacity-60 hover:opacity-100" @click="closeEditMode">
        <span class="cl-accent">
          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1 1L13 13M13 1L1 13" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </span>
      </button>
    </div>
    <div class="flex">
      <div class="blend">
        <div class="bg-gray-200 block">
          <product-image :image="image" />
        </div>
      </div>
      <div class="flex-grow pl-15 md:pl-40 md:py-15">
        <div class="flex flex-nowrap details flex-auto">
          <div class="flex w-full flex-wrap justify-between pr-15 sm:pr-20">
            <div class="mb-5">
              <router-link
                class="leading-18 block"
                :to="productLink"
                data-testid="productLink"
                @click.native="$store.commit('ui/setMicrocart', false)"
              >
                {{ product.name | htmlDecode }}
              </router-link>
              <div class="text-gray-500 pt-5 sku text-xs leading-15" data-testid="productSku">
                {{ product.sku }}
              </div>
              <div class="text-gray-500 text-xs leading-15 options" v-if="isTotalsActive">
                <div v-for="opt in product.totals.options" :key="opt.label" class="pt-5">
                  <span class="opn">{{ opt.label }}: </span>
                  <span class="opv" v-html="opt.value" />
                </div>
              </div>
              <div class="text-gray-500 text-xs leading-15 options" v-else-if="!editMode && product.options">
                <div v-for="opt in product.options" :key="opt.label" class="pt-5">
                  <span class="opn">{{ opt.label }}: </span>
                  <span class="opv" v-html="opt.value" />
                </div>
              </div>
              <div class="pt-5 text-xs leading-15 text-burnt-sienna" v-if="hasProductErrors">
                {{ product.errors | formatProductMessages }}
              </div>
              <div class="text-puerto-rico pt-5  text-xs leading-15" v-if="hasProductInfo && !hasProductErrors">
                {{ product.info | formatProductMessages }}
              </div>
            </div>
            <product-quantity
              class="qty"
              :value="productQty"
              :max-quantity="maxQuantity"
              :loading="isStockInfoLoading"
              :is-simple-or-configurable="isSimpleOrConfigurable"
              @input="updateProductQty"
              @error="handleQuantityError"
            />
          </div>
          <div class="flex align-right text-right start-xs between-sm prices text-base">
            <div class="prices" v-if="!displayItemDiscounts || !isOnline">
              <span class="text-burnt-sienna block price-special" v-if="product.special_price">
                {{ product.price_incl_tax * product.qty | price(storeView) }}
              </span>
              <span class="text-gray-600 block line-through text-xs price-original" v-if="product.special_price">
                {{ product.original_price_incl_tax * product.qty | price(storeView) }}
              </span>
              <span class="text-gray-400 block" v-else data-testid="productPrice">
                {{ (product.original_price_incl_tax ? product.original_price_incl_tax : product.price_incl_tax) * product.qty | price(storeView) }}
              </span>
            </div>
            <div class="prices" v-else-if="isOnline && product.totals">
              <span class="text-burnt-sienna block price-special" v-if="product.totals.discount_amount">
                {{ product.totals.row_total - product.totals.discount_amount + product.totals.tax_amount | price(storeView) }}
              </span>
              <span class="text-gray-600 block line-through text-xs price-original" v-if="product.totals.discount_amount">
                {{ product.totals.row_total_incl_tax | price(storeView) }}
              </span>
              <span class="text-gray-400 block" v-if="!product.totals.discount_amount">
                {{ product.totals.row_total_incl_tax | price(storeView) }}
              </span>
            </div>
            <div class="prices" v-else>
              <span class="text-gray-400 block">
                {{ (product.regular_price || product.price_incl_tax) * product.qty | price(storeView) }}
              </span>
            </div>
          </div>
        </div>
        <div class="w-full pb15 sm:flex items-end" v-if="editMode">
          <div class="ml0 flex flex-wrap" v-if="productsAreReconfigurable">
            <div class="pt-5 w-full" v-for="(option, index) in product.configurable_options" :key="index">
              <div class="text-gray-500 text-xs leading-15">
                {{ option.label }}:
              </div>
              <div class="flex flex-wrap pt-5" v-if="option.label == 'Color' && editMode">
                <color-selector
                  v-for="filter in getAvailableFilters[option.attribute_code]"
                  v-if="isOptionAvailable(filter)"
                  :key="filter.id"
                  :variant="filter"
                  :selected-filters="getSelectedOptions"
                  @change="changeEditModeFilter"
                />
              </div>
              <div class="flex flex-wrap pt-5" v-else-if="option.label == 'Size' && editMode">
                <size-selector
                  class="mr-10 mb-10"
                  v-for="filter in getAvailableFilters[option.attribute_code]"
                  v-if="isOptionAvailable(filter)"
                  :key="filter.id"
                  :variant="filter"
                  :selected-filters="getSelectedOptions"
                  @change="changeEditModeFilter"
                />
              </div>
            </div>
          </div>
          <button-full
            class="update-button w-auto whitespace-nowrap text-sm px-10 py-8 sm:px-35 sm:ml-auto sm:mb-10"
            @click.native="updateProductVariant"
            :disabled="isUpdateCartDisabled"
          >
            {{ $t('Update item') }}
          </button-full>
        </div>
        <div class="w-full flex middle-xs actions" v-if="!editMode">
          <edit-button class="mx5" @click="openEditMode" v-if="productsAreReconfigurable && !editMode" />
          <remove-button class="mx5" @click="removeItem" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from 'vuex'
import config from 'config'
import { currentStoreView } from '@vue-storefront/core/lib/multistore'
import { formatProductLink } from '@vue-storefront/core/modules/url/helpers'
import Product from '@vue-storefront/core/compatibility/components/blocks/Microcart/Product'

import ProductQuantity from 'theme/components/core/ProductQuantity.vue'
import ProductImage from 'theme/components/core/ProductImage'
import ColorSelector from 'theme/components/core/ColorSelector.vue'
import SizeSelector from 'theme/components/core/SizeSelector.vue'
import RemoveButton from './RemoveButton'
import EditButton from './EditButton'
import { onlineHelper } from '@vue-storefront/core/helpers'
import { ProductOption } from '@vue-storefront/core/modules/catalog/components/ProductOption'
import { getThumbnailForProduct, getProductConfiguration } from '@vue-storefront/core/modules/cart/helpers'
import ButtonFull from 'theme/components/theme/ButtonFull'
import EditMode from './EditMode'

export default {
  data () {
    return {
      maxQuantity: 0,
      quantityError: false,
      isStockInfoLoading: false
    }
  },
  props: {
    product: {
      type: Object,
      required: true
    }
  },
  components: {
    RemoveButton,
    ProductImage,
    ColorSelector,
    SizeSelector,
    EditButton,
    ButtonFull,
    ProductQuantity
  },
  mixins: [Product, ProductOption, EditMode],
  computed: {
    ...mapState({
      isMicrocartOpen: state => state.ui.microcart
    }),
    hasProductInfo () {
      return this.product.info && Object.keys(this.product.info).length > 0
    },
    hasProductErrors () {
      const errors = this.product.errors || {}
      const errorsValuesExists = Object.keys(errors).filter(errorKey => errors[errorKey]).length > 0
      return errorsValuesExists
    },
    isTotalsActive () {
      return this.isOnline && !this.editMode && this.product.totals && this.product.totals.options
    },
    isOnline () {
      return onlineHelper.isOnline
    },
    productsAreReconfigurable () {
      return config.cart.productsAreReconfigurable && this.product.type_id === 'configurable' && this.isOnline
    },
    displayItemDiscounts () {
      return config.cart.displayItemDiscounts
    },
    image () {
      return {
        loading: this.thumbnail,
        src: this.thumbnail
      }
    },
    thumbnail () {
      return getThumbnailForProduct(this.product)
    },
    configuration () {
      return getProductConfiguration(this.product)
    },
    productLink () {
      return formatProductLink(this.product, currentStoreView().storeCode)
    },
    editMode () {
      return this.getEditingProductId === this.product.id
    },
    productQty () {
      return this.editMode ? this.getEditingQty : this.product.qty
    },
    isSimpleOrConfigurable () {
      return ['simple', 'configurable'].includes(this.product.type_id)
    },
    isUpdateCartDisabled () {
      return this.quantityError ||
        this.isStockInfoLoading ||
        (this.isOnline && !this.maxQuantity && this.isSimpleOrConfigurable)
    },
    storeView () {
      return currentStoreView()
    }
  },
  methods: {
    updateProductVariant () {
      this.updateVariant()
      this.closeEditMode()
    },
    updateProductQty (qty) {
      if (this.editMode) {
        this.editModeSetQty(qty)
        return
      }

      this.updateQuantity(qty)
    },
    removeFromCart () {
      this.$store.dispatch('cart/removeItem', { product: this.product })
    },
    updateQuantity (quantity) {
      this.$store.dispatch('cart/updateQuantity', { product: this.product, qty: quantity })
    },
    async getQuantity (product) {
      if (this.isStockInfoLoading) return // stock info is already loading
      this.isStockInfoLoading = true
      try {
        const validProduct = product || this.product
        const res = await this.$store.dispatch('stock/check', {
          product: validProduct,
          qty: this.productQty
        })
        return res.qty
      } finally {
        this.isStockInfoLoading = false
      }
    },
    handleQuantityError (error) {
      this.quantityError = error
    },
    async changeEditModeFilter (filter) {
      const editedProduct = this.getEditedProduct(filter)
      const maxQuantity = await this.getQuantity(editedProduct)
      if (!maxQuantity) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t(
            'The product is out of stock and cannot be added to the cart!'
          ),
          action1: { label: this.$t('OK') }
        })
      } else if (maxQuantity < this.productQty) {
        this.$store.dispatch('notification/spawnNotification', {
          type: 'error',
          message: this.$t('Only {maxQuantity} products of this type are available!', { maxQuantity }),
          action1: { label: this.$t('OK') }
        })
      } else {
        this.maxQuantity = maxQuantity
        this.editModeSetFilters(filter)
      }
    }
  },
  watch: {
    isOnline: {
      async handler (isOnline) {
        if (isOnline) {
          const maxQuantity = await this.getQuantity()
          this.maxQuantity = maxQuantity
        }
      }
    },
    isMicrocartOpen: {
      async handler (isOpen) {
        if (isOpen) {
          const maxQuantity = await this.getQuantity()
          this.maxQuantity = maxQuantity
        }
      },
      immediate: true
    }
  }
}
</script>

<style lang="scss" scoped>
@import '~theme/css/variables/colors';
@import '~theme/css/helpers/functions/color';
  .blend {
    flex: 0 0 140px;
     @media (max-width:600px) {
      flex: 0 0 96px;
     }
  }
  .filters {
    flex: 1 1 200px;
  }

</style>
