<template>
  <button @click="$emit('click')" class="brdr-none bg-transparent inline-flex items-center text-13 cl-accent">
    <span class="hidden-xs h6">
      {{ $t('Remove') }}
    </span>
    <i class="ml-5">
      <svg width="12" height="12" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M0.2925 0.2925C-0.0975 0.6825 -0.0975 1.3125 0.2925 1.7025L3.9725 5.3825L6.1825 10.0425L4.8325 12.4925C4.6425 12.8225 4.5525 13.2225 4.5925 13.6425C4.6925 14.7025 5.6525 15.4625 6.7125 15.4625H14.0425L15.4225 16.8425C14.9225 17.2025 14.5925 17.7925 14.5925 18.4625C14.5925 19.5625 15.4825 20.4625 16.5825 20.4625C17.2525 20.4625 17.8425 20.1325 18.2025 19.6225L20.3325 21.7525C20.7225 22.1425 21.3525 22.1425 21.7425 21.7525C22.1325 21.3625 22.1325 20.7325 21.7425 20.3425L1.7025 0.2925C1.3125 -0.0975 0.6825 -0.0975 0.2925 0.2925ZM6.5825 13.4625L7.6825 11.4625H10.0425L12.0425 13.4625H6.5825ZM15.6325 11.4025C16.1725 11.2625 16.6225 10.9125 16.8825 10.4325L20.4625 3.9425C20.8325 3.2825 20.3425 2.4625 19.5825 2.4625H6.7025L15.6325 11.4025ZM6.5825 16.4625C5.4825 16.4625 4.5925 17.3625 4.5925 18.4625C4.5925 19.5625 5.4825 20.4625 6.5825 20.4625C7.6825 20.4625 8.5825 19.5625 8.5825 18.4625C8.5825 17.3625 7.6825 16.4625 6.5825 16.4625Z" fill="#1D1D1D" />
      </svg>
    </i>
  </button>
</template>
