@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Playfair Display';
  src: url(/assets/fonts/PlayfairDisplay-Bold.woff2) format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Playfair Display';
  src: url(/assets/fonts/PlayfairDisplay-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(/assets/fonts/Roboto-Bold.woff2) format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(/assets/fonts/Roboto-Medium.woff2) format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Roboto';
  src: url(/assets/fonts/Roboto-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .container{
    max-width:1184px; padding:0 15px;
  }
  .button-full {
    @media screen and (min-width: 900px){
       min-width: 220px;
    }
    @apply border-0 w-full px-10 py-12 sm:px-20 md:py-17 text-base md:text-md bg-mine-shaft text-white font-roboto hover:bg-gray-400;
  }
  a.button-full {
    @apply inline-block;
  }
  .button-outline {
    @media screen and (min-width: 900px){
       min-width: 220px;
    }
    @apply border border-gray-500 hover:border-black px-10 sm:px-20 py-12 md:py-17 text-base md:text-md hover:text-white text-black font-roboto hover:bg-black;
  }
  a.button-outline {
    @apply inline-block;
  }
  .base-checkbox label:before {
    content: '';
    @apply absolute top-2 left-0 w-20 h-20 bg-white border border-gray-600 cursor-pointer;
  }
  .base-checkbox input:checked + label:before {
    @apply bg-gray-300 border-gray-300
  }
  .base-checkbox input:checked + label:after {
    content: '';
    @apply absolute top-8 left-5 w-11 h-5 border border-white border-t-0 border-r-0 bg-gray-300 transform -rotate-45;
  }
  .base-textarea textarea{
    @apply bg-transparent resize-none h-100;
  }
  .base-input label, .base-textarea label{
    transition: 0.2s ease all;
  }
  .base-input input:focus ~ label, .base-input input:not(.empty) ~ label, .base-textarea textarea:focus ~ label, .base-textarea textarea:not(.empty) ~ label{
    @apply -top-10 text-sm text-puerto-rico
  }
  
  .login-signup  input::-webkit-textfield-decoration-container,  .login-signup  input::-webkit-credentials-auto-fill-button {
    div{
      display: none !important;
      opacity:0;
    }
  }
  .login-signup  input::-webkit-credentials-auto-fill-button {
    display: none !important;
    opacity:0;
  }
  input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
    display: none;
  }
  .overlay {@apply fixed w-full h-full top-0 left-0 z-4 bg-black opacity-40}

  .base-checkbox label:before {
    content: '';
    @apply cursor-pointer absolute top-3 left-0 w-24 h-24 border border-gray-300
  }
  .base-checkbox input:checked + label:before {
    @apply bg-gray-300 border-gray-300
  }
  .base-checkbox input:checked + label:after {
    content: '';
    @apply absolute top-9 left-5 w-14 h-7 border-b-3 border-l-3 border-white transform -rotate-45
  }
  .select-wrapper:after {
    content: '';
    border-width: 8px 6px 0 6px;
    border-color: #bdbdbd transparent;
    @apply block absolute top-19 right-12 w-0 h-0 pointer-events-none;
  }
  .radioStyled{
    @apply relative block pl-35 pr-15 mb-12 cursor-pointer leading-25;
  }
  .radioStyled input{
    @apply opacity-0 absolute cursor-pointer;
  }
  .radioStyled .checkmark{
    @apply absolute left-0 top-0 w-25 h-25 rounded-full border border-gray-400;
  }
  .radioStyled .checkmark::after{
    content: "";
    @apply absolute left-2 top-2 w-19 h-19 rounded-full bg-gray-400 opacity-0;
  }
}

@layer base {
  h1, h2, h3, h4, h5, h6 {
    @apply font-playfair font-bold;
  }
  h1 {
    @apply text-lg md:text-xxl my-20 md:my-38
  }
  h2 {
    @apply text-22 md:text-xl my-18 md:my-30
  }
  h3 {
    @apply text-md md:text-lg my-16 md:my-24
  }
  h4 {
    @apply text-md my-16 md:my-24
  }
  h5 {
    @apply text-sm my-15 md:my-22
  }
  h6 {
    @apply text-xs my-15 md:my-22
  }
  img {
    @apply max-w-full max-h-full
  }
  p{
    @apply pb-15 leading-22;
  }
  p:empty {
    @apply hidden
  }
}
body{
  @apply font-roboto;
}
:focus{
  @apply outline-none;
}
.btn-small{
  @apply border border-black bg-black text-white;
}
.sidebar-menu li a{
  @apply block;
}
.sidebar-menu li:hover, .sidebar-menu li:focus{
  @apply bg-gray-200;
}
.sidebar-menu li.bg-gray-200:hover, .sidebar-menu li.bg-gray-200:focus{
  @apply bg-gray-100;
}
.sidebar-menu .sidebar-menu__container{
  height: calc(100% - 55px);
}
.sidebar-menu .sidebar-menu__list{
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-links .footer-title{
  @apply font-medium pb-10;
}
.footer-links p a{
  @apply text-gray-400 hover:text-black;
}
.footer-links p{
  @apply pt-10 pb-0;
}
.swiper-arrows .swiper-button-prev,
.swiper-arrows .swiper-button-next{
  @apply top-2/4 z-10 absolute cursor-pointer;
}
.swiper-arrows .swiper-button-next{
  @apply right-0;
}
table {
  @apply w-full border border-gray-200 border-collapse leading-normal text-left;
}
table thead th {
  @apply p-10 lg:p-20 font-playfair text-base whitespace-nowrap;
}
table tbody tr {
  @apply border-t border-gray-200;
}
table tbody td {
  @apply text-base md:text-md p-10 lg:p-20;
}
.dropdown-content {
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 160px;
  @apply absolute right-0 top-full z-1 bg-white leading-20 text-sm py-5 hidden;
}
.dropdown-content a {
  @apply py-10 px-15 leading-normal block opacity-60;
}
.dropdown:hover .dropdown-content {
  @apply block;
}
table tbody tr:last-child .dropdown:hover .dropdown-content {
  @apply top-auto bottom-full;
}
.table-wrap {
  @apply overflow-auto max-w-full;
}
.coupon-input{
  .text-base{
    @apply bg-transparent;
  }
}
/* notification popup css start */
.actions .notification-action{
  @apply bg-black bg-opacity-20
}
.notification.success {
  @apply bg-puerto-rico
}
.notification.error {
  @apply bg-burnt-sienna
}
.notification.warning {
  @apply bg-buccaneer
}
.notification.info {
  @apply bg-gray-400
}
.action-border.border-success {
  @apply border-puerto-rico
}
.action-border.border-error {
   @apply border-burnt-sienna
}
.action-border.border-warning {
   @apply border-buccaneer
}
.action-border.border-info {
  @apply border-gray-400
}
/* notification popup css end */

/* loader css  */
.site-ajax-loader {
  @apply h-40 w-40 m-8 inline-block;
}
.site-ajax-loader:after {
  @apply h-40 w-40 m-8 block;
  content: " ";
  border-radius: 50%;
  border: 4px solid black;
  border-color: black transparent black transparent;
  animation: site-ajax-loader 1.2s linear infinite;
}
@keyframes site-ajax-loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}