/*! tailwindcss v2.2.15 | MIT License | https://tailwindcss.com */

/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
  font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/**
 * Manually forked from SUIT CSS Base: https://github.com/suitcss/base
 * A thin layer on top of normalize.css that provides a starting point more
 * suitable for web applications.
 */

/**
 * Removes the default spacing and border for appropriate elements.
 */

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

button {
  background-color: transparent;
  background-image: none;
}

fieldset {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/**
 * Tailwind custom reset styles
 */

/**
 * 1. Use the user's configured `sans` font-family (with Tailwind's default
 *    sans-serif font stack as a fallback) as a sane default.
 * 2. Use Tailwind's default "normal" line-height so the user isn't forced
 *    to override it to ensure consistency even when using the default theme.
 */

html {
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 1 */
  line-height: 1.5;
  /* 2 */
}

/**
 * Inherit font-family and line-height from `html` so users can set them as
 * a class directly on the `html` element.
 */

body {
  font-family: inherit;
  line-height: inherit;
}

/**
 * 1. Prevent padding and border from affecting element width.
 *
 *    We used to set this in the html element and inherit from
 *    the parent element for everything else. This caused issues
 *    in shadow-dom-enhanced elements like <details> where the content
 *    is wrapped by a div with box-sizing set to `content-box`.
 *
 *    https://github.com/mozdevs/cssremedy/issues/4
 *
 *
 * 2. Allow adding a border to an element by just adding a border-width.
 *
 *    By default, the way the browser specifies that an element should have no
 *    border is by setting it's border-style to `none` in the user-agent
 *    stylesheet.
 *
 *    In order to easily add borders to elements by just setting the `border-width`
 *    property, we change the default border-style for all elements to `solid`, and
 *    use border-width to hide them instead. This way our `border` utilities only
 *    need to set the `border-width` property instead of the entire `border`
 *    shorthand, making our border utilities much more straightforward to compose.
 *
 *    https://github.com/tailwindcss/tailwindcss/pull/116
 */

*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

/*
 * Ensure horizontal rules are visible by default
 */

hr {
  border-top-width: 1px;
}

/**
 * Undo the `border-style: none` reset that Normalize applies to images so that
 * our `border-{width}` utilities have the expected effect.
 *
 * The Normalize reset is unnecessary for us since we default the border-width
 * to 0 on all elements.
 *
 * https://github.com/tailwindcss/tailwindcss/issues/362
 */

img {
  border-style: solid;
}

textarea {
  resize: vertical;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  opacity: 1;
  color: #4f4f4f;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  color: #4f4f4f;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  opacity: 1;
  color: #4f4f4f;
}

input::-ms-input-placeholder, textarea::-ms-input-placeholder {
  opacity: 1;
  color: #4f4f4f;
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  color: #4f4f4f;
}

button,
[role="button"] {
  cursor: pointer;
}

/**
 * Override legacy focus reset from Normalize with modern Firefox focus styles.
 *
 * This is actually an improvement over the new defaults in Firefox in our testing,
 * as it triggers the better focus styles even for links, which still use a dotted
 * outline in Firefox by default.
 */

:-moz-focusring {
  outline: auto;
}

table {
  border-collapse: collapse;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/**
 * Reset links to optimize for opt-in styling instead of
 * opt-out.
 */

a {
  color: inherit;
  text-decoration: inherit;
}

/**
 * Reset form element properties that are easy to forget to
 * style explicitly so you don't inadvertently introduce
 * styles that deviate from your design system. These styles
 * supplement a partial reset that is already applied by
 * normalize.css.
 */

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  line-height: inherit;
  color: inherit;
}

/**
 * Use the configured 'mono' font family for elements that
 * are expected to be rendered with a monospace font, falling
 * back to the system monospace stack if there is no configured
 * 'mono' font family.
 */

pre,
code,
kbd,
samp {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

/**
 * 1. Make replaced elements `display: block` by default as that's
 *    the behavior you want almost all of the time. Inspired by
 *    CSS Remedy, with `svg` added as well.
 *
 *    https://github.com/mozdevs/cssremedy/issues/14
 * 
 * 2. Add `vertical-align: middle` to align replaced elements more
 *    sensibly by default when overriding `display` by adding a
 *    utility like `inline`.
 *
 *    This can trigger a poorly considered linting error in some
 *    tools but is included by design.
 * 
 *    https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210
 */

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/**
 * Constrain images and videos to the parent width and preserve
 * their intrinsic aspect ratio.
 *
 * https://github.com/mozdevs/cssremedy/issues/14
 */

img,
video {
  max-width: 100%;
  height: auto;
}

/**
 * Ensure the default browser behavior of the `hidden` attribute.
 */

[hidden] {
  display: none;
}

*, ::before, ::after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
  --tw-border-opacity: 1;
  border-color: rgba(242, 242, 242, var(--tw-border-opacity));
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-blur: var(--tw-empty,/*!*/ /*!*/);
  --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
  --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
  --tw-invert: var(--tw-empty,/*!*/ /*!*/);
  --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
  --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
  --tw-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

h1, h2, h3, h4, h5, h6 {
  font-family: Playfair Display, "serif";
  font-weight: 700;
}

h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 24px;
}

@media (min-width: 768px) {
  h1 {
    margin-top: 38px;
    margin-bottom: 38px;
  }

  h1 {
    font-size: 48px;
  }
}

h2 {
  margin-top: 18px;
  margin-bottom: 18px;
  font-size: 22px;
}

@media (min-width: 768px) {
  h2 {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 36px;
  }
}

h3 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
}

@media (min-width: 768px) {
  h3 {
    margin-top: 24px;
    margin-bottom: 24px;
  }

  h3 {
    font-size: 24px;
  }
}

h4 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 18px;
}

@media (min-width: 768px) {
  h4 {
    margin-top: 24px;
    margin-bottom: 24px;
  }
}

h5 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 14px;
}

@media (min-width: 768px) {
  h5 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  font-size: 12px;
}

@media (min-width: 768px) {
  h6 {
    margin-top: 22px;
    margin-bottom: 22px;
  }
}

img {
  max-height: 100%;
  max-width: 100%;
}

p {
  padding-bottom: 15px;
  line-height: 22px;
}

p:empty {
  display: none;
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}

.container{
  max-width:1184px;
  padding:0 15px;
}

.button-full {
  @media screen and (min-width: 900px){
    min-width: 220px;
  }
  width: 100%;
  border-width: 0;
  --tw-bg-opacity: 1;
  background-color: rgba(51, 51, 51, var(--tw-bg-opacity));
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.button-full:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(79, 79, 79, var(--tw-bg-opacity));
}

@media (min-width: 640px) {
  .button-full {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .button-full {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .button-full {
    font-size: 18px;
  }
}

a.button-full {
  display: inline-block;
}

.button-outline {
  @media screen and (min-width: 900px){
    min-width: 220px;
  }
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(142, 142, 142, var(--tw-border-opacity));
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.button-outline:hover {
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .button-outline {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .button-outline {
    padding-top: 17px;
    padding-bottom: 17px;
  }

  .button-outline {
    font-size: 18px;
  }
}

a.button-outline {
  display: inline-block;
}

.base-checkbox label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0px;
  height: 20px;
  width: 20px;
  cursor: pointer;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(87, 87, 87, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.base-checkbox input:checked + label:before {
  --tw-border-opacity: 1;
  border-color: rgba(189, 189, 189, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(189, 189, 189, var(--tw-bg-opacity));
}

.base-checkbox input:checked + label:after {
  content: '';
  position: absolute;
  top: 8px;
  left: 5px;
  height: 5px;
  width: 11px;
  --tw-rotate: -45deg;
  -webkit-transform: var(--tw-transform);
      -ms-transform: var(--tw-transform);
          transform: var(--tw-transform);
  transform: var(--tw-transform);
  border-width: 1px;
  border-top-width: 0;
  border-right-width: 0;
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(189, 189, 189, var(--tw-bg-opacity));
}

.base-textarea textarea {
  height: 100px;
  resize: none;
  background-color: transparent;
}

.base-input label, .base-textarea label{
  -webkit-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}

.base-input input:focus ~ label, .base-input input:not(.empty) ~ label, .base-textarea textarea:focus ~ label, .base-textarea textarea:not(.empty) ~ label {
  top: -10px;
  font-size: 14px;
  --tw-text-opacity: 1;
  color: rgba(77, 186, 135, var(--tw-text-opacity));
}

.login-signup  input::-webkit-textfield-decoration-container,  .login-signup  input::-webkit-credentials-auto-fill-button {
  div{
    display: none !important;
    opacity:0;
  }
}

.login-signup  input::-webkit-credentials-auto-fill-button {
  display: none !important;
  opacity:0;
}

input[type="password"]::-ms-reveal,
  input[type="password"]::-ms-clear {
  display: none;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
  height: 100%;
  width: 100%;
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  opacity: 0.4;
}

.base-checkbox label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: 0px;
  height: 24px;
  width: 24px;
  cursor: pointer;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(189, 189, 189, var(--tw-border-opacity))
}

.base-checkbox input:checked + label:before {
  --tw-border-opacity: 1;
  border-color: rgba(189, 189, 189, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(189, 189, 189, var(--tw-bg-opacity));
}

.base-checkbox input:checked + label:after {
  content: '';
  position: absolute;
  top: 9px;
  left: 5px;
  height: 7px;
  width: 14px;
  --tw-rotate: -45deg;
  -webkit-transform: var(--tw-transform);
      -ms-transform: var(--tw-transform);
          transform: var(--tw-transform);
  transform: var(--tw-transform);
  border-bottom-width: 3px;
  border-left-width: 3px;
  --tw-border-opacity: 1;
  border-color: rgba(255, 255, 255, var(--tw-border-opacity))
}

.select-wrapper:after {
  content: '';
  border-width: 8px 6px 0 6px;
  border-color: #bdbdbd transparent;
  pointer-events: none;
  position: absolute;
  top: 19px;
  right: 12px;
  display: block;
  height: 0px;
  width: 0px;
}

.radioStyled {
  position: relative;
  margin-bottom: 12px;
  display: block;
  cursor: pointer;
  padding-left: 35px;
  padding-right: 15px;
  line-height: 25px;
}

.radioStyled input {
  position: absolute;
  cursor: pointer;
  opacity: 0;
}

.radioStyled .checkmark {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 25px;
  width: 25px;
  border-radius: 9999px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(79, 79, 79, var(--tw-border-opacity));
}

.radioStyled .checkmark::after{
  content: "";
  position: absolute;
  left: 2px;
  top: 2px;
  height: 19px;
  width: 19px;
  border-radius: 9999px;
  --tw-bg-opacity: 1;
  background-color: rgba(79, 79, 79, var(--tw-bg-opacity));
  opacity: 0;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.pointer-events-none {
  pointer-events: none;
}

.visible {
  visibility: visible;
}

.invisible {
  visibility: hidden;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.inset-0 {
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}

.left-0 {
  left: 0px;
}

.top-0 {
  top: 0px;
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.bottom-15 {
  bottom: 15px;
}

.top-2\/4 {
  top: 50%;
}

.left-2\/4 {
  left: 50%;
}

.bottom-auto {
  bottom: auto;
}

.bottom-20 {
  bottom: 20px;
}

.top-1\/2 {
  top: 50%;
}

.left-1\/2 {
  left: 50%;
}

.top-30 {
  top: 30px;
}

.bottom-full {
  bottom: 100%;
}

.top-8 {
  top: 8px;
}

.top-11 {
  top: 11px;
}

.right-5 {
  right: 5px;
}

.-top-10 {
  top: -10px;
}

.top-7 {
  top: 7px;
}

.-top-55 {
  top: -55px;
}

.left-60 {
  left: 60px;
}

.top-36 {
  top: 36px;
}

.top-80 {
  top: 80px;
}

.top-sm {
  top: 10px;
}

.z-10 {
  z-index: 10;
}

.z-2 {
  z-index: 2;
}

.z-9 {
  z-index: 9;
}

.z-50 {
  z-index: 50;
}

.z-3 {
  z-index: 3;
}

.z-4 {
  z-index: 4;
}

.z-6 {
  z-index: 6;
}

.z-40 {
  z-index: 40;
}

.z-8 {
  z-index: 8;
}

.z-1 {
  z-index: 1;
}

.z-5 {
  z-index: 5;
}

.order-3 {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.m-0 {
  margin: 0px;
}

.m-auto {
  margin: auto;
}

.-mx-10 {
  margin-left: -10px;
  margin-right: -10px;
}

.my-25 {
  margin-top: 25px;
  margin-bottom: 25px;
}

.-mx-15 {
  margin-left: -15px;
  margin-right: -15px;
}

.my-20 {
  margin-top: 20px;
  margin-bottom: 20px;
}

.-my-5 {
  margin-top: -5px;
  margin-bottom: -5px;
}

.-mx-5 {
  margin-left: -5px;
  margin-right: -5px;
}

.-my-9 {
  margin-top: -9px;
  margin-bottom: -9px;
}

.my-30 {
  margin-top: 30px;
  margin-bottom: 30px;
}

.mx-8 {
  margin-left: 8px;
  margin-right: 8px;
}

.my-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.my-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}

.mx-2 {
  margin-left: 2px;
  margin-right: 2px;
}

.my-15 {
  margin-top: 15px;
  margin-bottom: 15px;
}

.mb-18 {
  margin-bottom: 18px;
}

.mt-25 {
  margin-top: 25px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-10 {
  margin-top: 10px;
}

.mb-25 {
  margin-bottom: 25px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-14 {
  margin-bottom: 14px;
}

.mt-0 {
  margin-top: 0px;
}

.ml-auto {
  margin-left: auto;
}

.mr-10 {
  margin-right: 10px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mr-2 {
  margin-right: 2px;
}

.mb-15 {
  margin-bottom: 15px;
}

.mb-35 {
  margin-bottom: 35px;
}

.mr-5 {
  margin-right: 5px;
}

.mb-5 {
  margin-bottom: 5px;
}

.mb-40 {
  margin-bottom: 40px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mb-12 {
  margin-bottom: 12px;
}

.mb-45 {
  margin-bottom: 45px;
}

.mb-80 {
  margin-bottom: 80px;
}

.mb-0 {
  margin-bottom: 0px;
}

.mt-3 {
  margin-top: 3px;
}

.mr-15 {
  margin-right: 15px;
}

.mt-38 {
  margin-top: 38px;
}

.-mr-25 {
  margin-right: -25px;
}

.ml-5 {
  margin-left: 5px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-8 {
  margin-top: 8px;
}

.-ml-15 {
  margin-left: -15px;
}

.-mr-15 {
  margin-right: -15px;
}

.ml-15 {
  margin-left: 15px;
}

.mb-24 {
  margin-bottom: 24px;
}

.ml-20 {
  margin-left: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mb-17 {
  margin-bottom: 17px;
}

.box-border {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.hidden {
  display: none;
}

.h-screen {
  height: 100vh;
}

.h-40 {
  height: 40px;
}

.h-34 {
  height: 34px;
}

.h-24 {
  height: 24px;
}

.h-full {
  height: 100%;
}

.h-20 {
  height: 20px;
}

.h-14 {
  height: 14px;
}

.h-19 {
  height: 19px;
}

.h-100 {
  height: 100px;
}

.h-0 {
  height: 0px;
}

.h-18 {
  height: 18px;
}

.h-auto {
  height: auto;
}

.h-25 {
  height: 25px;
}

.h-44 {
  height: 44px;
}

.h-22 {
  height: 22px;
}

.h-16 {
  height: 16px;
}

.h-54 {
  height: 54px;
}

.h-60 {
  height: 60px;
}

.max-h-full {
  max-height: 100%;
}

.max-h-none {
  max-height: none;
}

.min-h-full {
  min-height: 100%;
}

.w-full {
  width: 100%;
}

.w-100 {
  width: 100px;
}

.w-5\/6 {
  width: 83.333333%;
}

.w-1\/6 {
  width: 16.666667%;
}

.w-5\/12 {
  width: 41.666667%;
}

.w-2\/4 {
  width: 50%;
}

.w-3\/12 {
  width: 25%;
}

.w-screen {
  width: 100vw;
}

.w-24 {
  width: 24px;
}

.w-6\/12 {
  width: 50%;
}

.w-40 {
  width: 40px;
}

.w-34 {
  width: 34px;
}

.w-20 {
  width: 20px;
}

.w-14 {
  width: 14px;
}

.w-19 {
  width: 19px;
}

.w-18 {
  width: 18px;
}

.w-25 {
  width: 25px;
}

.w-1\/2 {
  width: 50%;
}

.w-9\/12 {
  width: 75%;
}

.w-60 {
  width: 60px;
}

.w-22 {
  width: 22px;
}

.w-16 {
  width: 16px;
}

.w-1\/4 {
  width: 25%;
}

.w-auto {
  width: auto;
}

.min-w-full {
  min-width: 100%;
}

.min-w-0 {
  min-width: 0px;
}

.max-w-full {
  max-width: 100%;
}

.max-w-50 {
  max-width: 50%;
}

.max-w-none {
  max-width: none;
}

.flex-1 {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 0%;
          flex: 1 1 0%;
}

.flex-auto {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.flex-grow {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.border-collapse {
  border-collapse: collapse;
}

.-translate-y-1\/2 {
  --tw-translate-y: -50%;
  -webkit-transform: var(--tw-transform);
      -ms-transform: var(--tw-transform);
          transform: var(--tw-transform);
}

.-translate-x-1\/2 {
  --tw-translate-x: -50%;
  -webkit-transform: var(--tw-transform);
      -ms-transform: var(--tw-transform);
          transform: var(--tw-transform);
}

.-translate-x-full {
  --tw-translate-x: -100%;
  -webkit-transform: var(--tw-transform);
      -ms-transform: var(--tw-transform);
          transform: var(--tw-transform);
}

.transform {
  -webkit-transform: var(--tw-transform);
      -ms-transform: var(--tw-transform);
          transform: var(--tw-transform);
}

.cursor-pointer {
  cursor: pointer;
}

.select-none {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.resize {
  resize: both;
}

.list-none {
  list-style-type: none;
}

.appearance-none {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-1 {
  grid-template-columns: repeat(1, minmax(0, 1fr));
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-wrap {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.items-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.items-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.justify-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.justify-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.justify-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.justify-items-center {
  justify-items: center;
}

.gap-15 {
  gap: 15px;
}

.gap-x-31 {
  -webkit-column-gap: 31px;
     -moz-column-gap: 31px;
          column-gap: 31px;
}

.self-center {
  -ms-flex-item-align: center;
      align-self: center;
}

.overflow-auto {
  overflow: auto;
}

.overflow-hidden {
  overflow: hidden;
}

.overflow-x-auto {
  overflow-x: auto;
}

.overflow-y-auto {
  overflow-y: auto;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.overflow-ellipsis {
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.whitespace-nowrap {
  white-space: nowrap;
}

.rounded-full {
  border-radius: 9999px;
}

.border {
  border-width: 1px;
}

.border-2 {
  border-width: 2px;
}

.border-0 {
  border-width: 0;
}

.border-t {
  border-top-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-l {
  border-left-width: 1px;
}

.border-r {
  border-right-width: 1px;
}

.border-r-2 {
  border-right-width: 2px;
}

.border-none {
  border-style: none;
}

.border-gray-400 {
  --tw-border-opacity: 1;
  border-color: rgba(79, 79, 79, var(--tw-border-opacity));
}

.border-gray-100 {
  --tw-border-opacity: 1;
  border-color: rgba(224, 224, 224, var(--tw-border-opacity));
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgba(189, 189, 189, var(--tw-border-opacity));
}

.border-transparent {
  border-color: transparent;
}

.border-gray-500 {
  --tw-border-opacity: 1;
  border-color: rgba(142, 142, 142, var(--tw-border-opacity));
}

.border-mine-shaft {
  --tw-border-opacity: 1;
  border-color: rgba(51, 51, 51, var(--tw-border-opacity));
}

.border-gray-200 {
  --tw-border-opacity: 1;
  border-color: rgba(242, 242, 242, var(--tw-border-opacity));
}

.bg-gray-200 {
  --tw-bg-opacity: 1;
  background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

.bg-gray-600 {
  --tw-bg-opacity: 1;
  background-color: rgba(87, 87, 87, var(--tw-bg-opacity));
}

.bg-gray-100 {
  --tw-bg-opacity: 1;
  background-color: rgba(224, 224, 224, var(--tw-bg-opacity));
}

.bg-gray-500 {
  --tw-bg-opacity: 1;
  background-color: rgba(142, 142, 142, var(--tw-bg-opacity));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: rgba(250, 250, 250, var(--tw-bg-opacity));
}

.bg-gray-400 {
  --tw-bg-opacity: 1;
  background-color: rgba(79, 79, 79, var(--tw-bg-opacity));
}

.bg-black {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
}

.bg-puerto-rico {
  --tw-bg-opacity: 1;
  background-color: rgba(77, 186, 135, var(--tw-bg-opacity));
}

.bg-white {
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
}

.bg-burnt-sienna {
  --tw-bg-opacity: 1;
  background-color: rgba(235, 87, 87, var(--tw-bg-opacity));
}

.bg-transparent {
  background-color: transparent;
}

.bg-mine-shaft {
  --tw-bg-opacity: 1;
  background-color: rgba(51, 51, 51, var(--tw-bg-opacity));
}

.bg-gray-700 {
  --tw-bg-opacity: 1;
  background-color: rgba(153, 153, 153, var(--tw-bg-opacity));
}

.bg-opacity-95 {
  --tw-bg-opacity: 0.95;
}

.bg-opacity-40 {
  --tw-bg-opacity: 0.4;
}

.bg-opacity-70 {
  --tw-bg-opacity: 0.7;
}

.bg-gradient-to-t {
  background-image: -webkit-gradient(linear, left bottom, left top, from(var(--tw-gradient-stops)));
  background-image: -o-linear-gradient(bottom, var(--tw-gradient-stops));
  background-image: linear-gradient(to top, var(--tw-gradient-stops));
}

.from-white {
  --tw-gradient-from: #fff;
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to, rgba(255, 255, 255, 0));
}

.bg-cover {
  background-size: cover;
}

.bg-center {
  background-position: center;
}

.bg-no-repeat {
  background-repeat: no-repeat;
}

.fill-current {
  fill: currentColor;
}

.object-cover {
  -o-object-fit: cover;
     object-fit: cover;
}

.object-top {
  -o-object-position: top;
     object-position: top;
}

.p-20 {
  padding: 20px;
}

.p-0 {
  padding: 0px;
}

.p-2 {
  padding: 2px;
}

.p-15 {
  padding: 15px;
}

.p-8 {
  padding: 8px;
}

.p-25 {
  padding: 25px;
}

.p-10 {
  padding: 10px;
}

.p-3 {
  padding: 3px;
}

.p-12 {
  padding: 12px;
}

.py-35 {
  padding-top: 35px;
  padding-bottom: 35px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.px-sm {
  padding-left: 10px;
  padding-right: 10px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.py-25 {
  padding-top: 25px;
  padding-bottom: 25px;
}

.px-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.px-8 {
  padding-left: 8px;
  padding-right: 8px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.px-15 {
  padding-left: 15px;
  padding-right: 15px;
}

.py-lg {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-0 {
  padding-top: 0px;
  padding-bottom: 0px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-40 {
  padding-top: 40px;
  padding-bottom: 40px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}

.px-65 {
  padding-left: 65px;
  padding-right: 65px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-21 {
  padding-top: 21px;
  padding-bottom: 21px;
}

.px-17 {
  padding-left: 17px;
  padding-right: 17px;
}

.py-14 {
  padding-top: 14px;
  padding-bottom: 14px;
}

.px-5 {
  padding-left: 5px;
  padding-right: 5px;
}

.py-6 {
  padding-top: 6px;
  padding-bottom: 6px;
}

.py-23 {
  padding-top: 23px;
  padding-bottom: 23px;
}

.px-14 {
  padding-left: 14px;
  padding-right: 14px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.py-13 {
  padding-top: 13px;
  padding-bottom: 13px;
}

.py-7 {
  padding-top: 7px;
  padding-bottom: 7px;
}

.pb-60 {
  padding-bottom: 60px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-10 {
  padding-top: 10px;
}

.pb-100 {
  padding-bottom: 100px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pl-20 {
  padding-left: 20px;
}

.pb-30 {
  padding-bottom: 30px;
}

.pb-20 {
  padding-bottom: 20px;
}

.pt-45 {
  padding-top: 45px;
}

.pb-40 {
  padding-bottom: 40px;
}

.pt-40 {
  padding-top: 40px;
}

.pt-8 {
  padding-top: 8px;
}

.pb-17 {
  padding-bottom: 17px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-12 {
  padding-bottom: 12px;
}

.pb-70 {
  padding-bottom: 70px;
}

.pr-15 {
  padding-right: 15px;
}

.pr-5 {
  padding-right: 5px;
}

.pb-18 {
  padding-bottom: 18px;
}

.pr-20 {
  padding-right: 20px;
}

.pb-0 {
  padding-bottom: 0px;
}

.pr-10 {
  padding-right: 10px;
}

.pt-25 {
  padding-top: 25px;
}

.pl-15 {
  padding-left: 15px;
}

.pb-35 {
  padding-bottom: 35px;
}

.pt-20 {
  padding-top: 20px;
}

.pl-35 {
  padding-left: 35px;
}

.pt-0 {
  padding-top: 0px;
}

.pb-25 {
  padding-bottom: 25px;
}

.pt-3 {
  padding-top: 3px;
}

.pt-5 {
  padding-top: 5px;
}

.pt-21 {
  padding-top: 21px;
}

.pl-0 {
  padding-left: 0px;
}

.pr-0 {
  padding-right: 0px;
}

.pt-35 {
  padding-top: 35px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-top {
  vertical-align: top;
}

.font-playfair {
  font-family: Playfair Display, "serif";
}

.font-roboto {
  font-family: Roboto, sans-serif;
}

.text-36 {
  font-size: 36px;
}

.text-14 {
  font-size: 14px;
}

.text-xs {
  font-size: 12px;
}

.text-md {
  font-size: 18px;
}

.text-sm {
  font-size: 14px;
}

.text-lg {
  font-size: 24px;
}

.text-base {
  font-size: 16px;
}

.text-24 {
  font-size: 24px;
}

.text-13 {
  font-size: 13px;
}

.text-16 {
  font-size: 16px;
}

.text-22 {
  font-size: 22px;
}

.text-12 {
  font-size: 12px;
}

.text-18 {
  font-size: 18px;
}

.text-60 {
  font-size: 60px;
}

.text-xl {
  font-size: 36px;
}

.font-semibold {
  font-weight: 600;
}

.font-bold {
  font-weight: 700;
}

.font-normal {
  font-weight: 400;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.not-italic {
  font-style: normal;
}

.leading-40 {
  line-height: 40px;
}

.leading-35 {
  line-height: 35px;
}

.leading-16 {
  line-height: 16px;
}

.leading-18 {
  line-height: 18px;
}

.leading-normal {
  line-height: normal;
}

.leading-20 {
  line-height: 20px;
}

.leading-24 {
  line-height: 24px;
}

.leading-17 {
  line-height: 17px;
}

.leading-27 {
  line-height: 27px;
}

.leading-25 {
  line-height: 25px;
}

.leading-15 {
  line-height: 15px;
}

.leading-30 {
  line-height: 30px;
}

.text-white {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.text-gray-600 {
  --tw-text-opacity: 1;
  color: rgba(87, 87, 87, var(--tw-text-opacity));
}

.text-gray-400 {
  --tw-text-opacity: 1;
  color: rgba(79, 79, 79, var(--tw-text-opacity));
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgba(142, 142, 142, var(--tw-text-opacity));
}

.text-mine-shaft {
  --tw-text-opacity: 1;
  color: rgba(51, 51, 51, var(--tw-text-opacity));
}

.text-gray-200 {
  --tw-text-opacity: 1;
  color: rgba(242, 242, 242, var(--tw-text-opacity));
}

.text-gray-300 {
  --tw-text-opacity: 1;
  color: rgba(189, 189, 189, var(--tw-text-opacity));
}

.text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.text-burnt-sienna {
  --tw-text-opacity: 1;
  color: rgba(235, 87, 87, var(--tw-text-opacity));
}

.text-gray-100 {
  --tw-text-opacity: 1;
  color: rgba(224, 224, 224, var(--tw-text-opacity));
}

.text-puerto-rico {
  --tw-text-opacity: 1;
  color: rgba(77, 186, 135, var(--tw-text-opacity));
}

.text-red {
  --tw-text-opacity: 1;
  color: rgba(255, 0, 0, var(--tw-text-opacity));
}

.underline {
  text-decoration: underline;
}

.line-through {
  text-decoration: line-through;
}

.no-underline {
  text-decoration: none;
}

.opacity-60 {
  opacity: 0.6;
}

.opacity-40 {
  opacity: 0.4;
}

.opacity-30 {
  opacity: 0.3;
}

.opacity-50 {
  opacity: 0.5;
}

.opacity-80 {
  opacity: 0.8;
}

.mix-blend-multiply {
  mix-blend-mode: multiply;
}

.shadow-3xl {
  --tw-shadow: 0 0 35px -5px rgba(0, 0, 0, 0.70);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
          box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.outline-none {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.blur {
  --tw-blur: blur(8px);
  -webkit-filter: var(--tw-filter);
          filter: var(--tw-filter);
}

.filter {
  -webkit-filter: var(--tw-filter);
          filter: var(--tw-filter);
}

.transition {
  -webkit-transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  -o-transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-box-shadow, -webkit-transform, -webkit-filter, -webkit-backdrop-filter;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 150ms;
       -o-transition-duration: 150ms;
          transition-duration: 150ms;
}

.transition-all {
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-duration: 150ms;
       -o-transition-duration: 150ms;
          transition-duration: 150ms;
}

.delay-150 {
  -webkit-transition-delay: 150ms;
       -o-transition-delay: 150ms;
          transition-delay: 150ms;
}

.duration-500 {
  -webkit-transition-duration: 500ms;
       -o-transition-duration: 500ms;
          transition-duration: 500ms;
}

.duration-700 {
  -webkit-transition-duration: 700ms;
       -o-transition-duration: 700ms;
          transition-duration: 700ms;
}

.ease-in-out {
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
       -o-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@font-face {
  font-family: 'Playfair Display';

  src: url(/assets/fonts/PlayfairDisplay-Bold.woff2) format('woff2');

  font-weight: bold;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Playfair Display';

  src: url(/assets/fonts/PlayfairDisplay-Regular.woff2) format('woff2');

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Roboto';

  src: url(/assets/fonts/Roboto-Bold.woff2) format('woff2');

  font-weight: 700;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Roboto';

  src: url(/assets/fonts/Roboto-Medium.woff2) format('woff2');

  font-weight: 500;

  font-style: normal;

  font-display: swap;
}

@font-face {
  font-family: 'Roboto';

  src: url(/assets/fonts/Roboto-Regular.woff2) format('woff2');

  font-weight: 400;

  font-style: normal;

  font-display: swap;
}

body {
  font-family: Roboto, sans-serif;
}

:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.btn-small {
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(0, 0, 0, var(--tw-border-opacity));
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.sidebar-menu li a {
  display: block;
}

.sidebar-menu li:hover, .sidebar-menu li:focus {
  --tw-bg-opacity: 1;
  background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

.sidebar-menu li.bg-gray-200:hover, .sidebar-menu li.bg-gray-200:focus {
  --tw-bg-opacity: 1;
  background-color: rgba(224, 224, 224, var(--tw-bg-opacity));
}

.sidebar-menu .sidebar-menu__container{
  height: calc(100% - 55px);
}

.sidebar-menu .sidebar-menu__list{
  -webkit-transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  -o-transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 0.25s cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 0.25s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links .footer-title {
  padding-bottom: 10px;
  font-weight: 500;
}

.footer-links p a {
  --tw-text-opacity: 1;
  color: rgba(79, 79, 79, var(--tw-text-opacity));
}

.footer-links p a:hover {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.footer-links p {
  padding-top: 10px;
  padding-bottom: 0px;
}

.swiper-arrows .swiper-button-prev, .swiper-arrows .swiper-button-next {
  position: absolute;
  top: 50%;
  z-index: 10;
  cursor: pointer;
}

.swiper-arrows .swiper-button-next {
  right: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(242, 242, 242, var(--tw-border-opacity));
  text-align: left;
  line-height: normal;
}

table thead th {
  white-space: nowrap;
  padding: 10px;
  font-family: Playfair Display, "serif";
  font-size: 16px;
}

@media (min-width: 1024px) {
  table thead th {
    padding: 20px;
  }
}

table tbody tr {
  border-top-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgba(242, 242, 242, var(--tw-border-opacity));
}

table tbody td {
  padding: 10px;
  font-size: 16px;
}

@media (min-width: 768px) {
  table tbody td {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  table tbody td {
    padding: 20px;
  }
}

.dropdown-content {
  -webkit-box-shadow: 0 0 10px rgba(0,0,0,0.1);
          box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 160px;
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: 1;
  display: none;
  --tw-bg-opacity: 1;
  background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
  line-height: 20px;
}

.dropdown-content a {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: normal;
  opacity: 0.6;
}

.dropdown:hover .dropdown-content {
  display: block;
}

table tbody tr:last-child .dropdown:hover .dropdown-content {
  top: auto;
  bottom: 100%;
}

.table-wrap {
  max-width: 100%;
  overflow: auto;
}

.coupon-input{
  .text-base {
    background-color: transparent;
  }
}

/* notification popup css start */

.actions .notification-action {
  --tw-bg-opacity: 1;
  background-color: rgba(0, 0, 0, var(--tw-bg-opacity));
  --tw-bg-opacity: 0.2;
}

.notification.success {
  --tw-bg-opacity: 1;
  background-color: rgba(77, 186, 135, var(--tw-bg-opacity));
}

.notification.error {
  --tw-bg-opacity: 1;
  background-color: rgba(235, 87, 87, var(--tw-bg-opacity));
}

.notification.warning {
  --tw-bg-opacity: 1;
  background-color: rgba(119, 85, 85, var(--tw-bg-opacity));
}

.notification.info {
  --tw-bg-opacity: 1;
  background-color: rgba(79, 79, 79, var(--tw-bg-opacity));
}

.action-border.border-success {
  --tw-border-opacity: 1;
  border-color: rgba(77, 186, 135, var(--tw-border-opacity));
}

.action-border.border-error {
  --tw-border-opacity: 1;
  border-color: rgba(235, 87, 87, var(--tw-border-opacity));
}

.action-border.border-warning {
  --tw-border-opacity: 1;
  border-color: rgba(119, 85, 85, var(--tw-border-opacity));
}

.action-border.border-info {
  --tw-border-opacity: 1;
  border-color: rgba(79, 79, 79, var(--tw-border-opacity));
}

/* notification popup css end */

/* loader css  */

.site-ajax-loader {
  margin: 8px;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.site-ajax-loader:after {
  margin: 8px;
  display: block;
  height: 40px;
  width: 40px;
  content: " ";
  border-radius: 50%;
  border: 4px solid black;
  border-color: black transparent black transparent;
  -webkit-animation: site-ajax-loader 1.2s linear infinite;
          animation: site-ajax-loader 1.2s linear infinite;
}

@-webkit-keyframes site-ajax-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes site-ajax-loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.even\:bg-gray-200:nth-child(even) {
  --tw-bg-opacity: 1;
  background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

.hover\:scale-125:hover {
  --tw-scale-x: 1.25;
  --tw-scale-y: 1.25;
  -webkit-transform: var(--tw-transform);
      -ms-transform: var(--tw-transform);
          transform: var(--tw-transform);
}

.hover\:border-2:hover {
  border-width: 2px;
}

.hover\:border-gray-500:hover {
  --tw-border-opacity: 1;
  border-color: rgba(142, 142, 142, var(--tw-border-opacity));
}

.hover\:border-puerto-rico:hover {
  --tw-border-opacity: 1;
  border-color: rgba(77, 186, 135, var(--tw-border-opacity));
}

.hover\:bg-gray-500:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(142, 142, 142, var(--tw-bg-opacity));
}

.hover\:bg-mine-shaft:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(51, 51, 51, var(--tw-bg-opacity));
}

.hover\:bg-gray-400:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(79, 79, 79, var(--tw-bg-opacity));
}

.hover\:bg-gray-200:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(242, 242, 242, var(--tw-bg-opacity));
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgba(224, 224, 224, var(--tw-bg-opacity));
}

.hover\:text-black:hover {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

.hover\:text-white:hover {
  --tw-text-opacity: 1;
  color: rgba(255, 255, 255, var(--tw-text-opacity));
}

.hover\:text-gray-600:hover {
  --tw-text-opacity: 1;
  color: rgba(87, 87, 87, var(--tw-text-opacity));
}

.hover\:text-gray-500:hover {
  --tw-text-opacity: 1;
  color: rgba(142, 142, 142, var(--tw-text-opacity));
}

.hover\:no-underline:hover {
  text-decoration: none;
}

.hover\:opacity-100:hover {
  opacity: 1;
}

.focus\:border-puerto-rico:focus {
  --tw-border-opacity: 1;
  border-color: rgba(77, 186, 135, var(--tw-border-opacity));
}

.focus\:text-gray-500:focus {
  --tw-text-opacity: 1;
  color: rgba(142, 142, 142, var(--tw-text-opacity));
}

.group:hover .group-hover\:bg-gray-300 {
  --tw-bg-opacity: 1;
  background-color: rgba(189, 189, 189, var(--tw-bg-opacity));
}

.group:hover .group-hover\:text-black {
  --tw-text-opacity: 1;
  color: rgba(0, 0, 0, var(--tw-text-opacity));
}

@media (min-width: 640px) {
  .sm\:relative {
    position: relative;
  }

  .sm\:left-0 {
    left: 0px;
  }

  .sm\:order-none {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }

  .sm\:mb-20 {
    margin-bottom: 20px;
  }

  .sm\:mb-0 {
    margin-bottom: 0px;
  }

  .sm\:ml-auto {
    margin-left: auto;
  }

  .sm\:mb-10 {
    margin-bottom: 10px;
  }

  .sm\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .sm\:h-auto {
    height: auto;
  }

  .sm\:max-h-90 {
    max-height: 90%;
  }

  .sm\:w-auto {
    width: auto;
  }

  .sm\:w-7\/12 {
    width: 58.333333%;
  }

  .sm\:w-5\/12 {
    width: 41.666667%;
  }

  .sm\:w-1\/2 {
    width: 50%;
  }

  .sm\:min-w-0 {
    min-width: 0px;
  }

  .sm\:p-65 {
    padding: 65px;
  }

  .sm\:p-40 {
    padding: 40px;
  }

  .sm\:px-md {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sm\:py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .sm\:px-65 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .sm\:py-45 {
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .sm\:py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .sm\:py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .sm\:px-35 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .sm\:py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .sm\:pb-80 {
    padding-bottom: 80px;
  }

  .sm\:pb-10 {
    padding-bottom: 10px;
  }

  .sm\:pt-25 {
    padding-top: 25px;
  }

  .sm\:pt-0 {
    padding-top: 0px;
  }

  .sm\:pr-20 {
    padding-right: 20px;
  }

  .sm\:pb-25 {
    padding-bottom: 25px;
  }

  .sm\:pt-50 {
    padding-top: 50px;
  }

  .sm\:pt-30 {
    padding-top: 30px;
  }

  .sm\:pb-30 {
    padding-bottom: 30px;
  }

  .sm\:text-left {
    text-align: left;
  }

  .sm\:text-xxl {
    font-size: 48px;
  }

  .sm\:text-xl {
    font-size: 36px;
  }

  .sm\:leading-35 {
    line-height: 35px;
  }
}

@media (min-width: 768px) {
  .md\:bottom-0 {
    bottom: 0px;
  }

  .md\:top-0 {
    top: 0px;
  }

  .md\:-top-25 {
    top: -25px;
  }

  .md\:m-0 {
    margin: 0px;
  }

  .md\:-m-10 {
    margin: -10px;
  }

  .md\:my-0 {
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .md\:mx-0 {
    margin-left: 0px;
    margin-right: 0px;
  }

  .md\:mt-30 {
    margin-top: 30px;
  }

  .md\:mt-0 {
    margin-top: 0px;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mb-30 {
    margin-bottom: 30px;
  }

  .md\:mr-0 {
    margin-right: 0px;
  }

  .md\:ml-20 {
    margin-left: 20px;
  }

  .md\:ml-auto {
    margin-left: auto;
  }

  .md\:mr-auto {
    margin-right: auto;
  }

  .md\:mb-25 {
    margin-bottom: 25px;
  }

  .md\:mb-20 {
    margin-bottom: 20px;
  }

  .md\:mb-10 {
    margin-bottom: 10px;
  }

  .md\:block {
    display: block;
  }

  .md\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .md\:table-cell {
    display: table-cell;
  }

  .md\:table-header-group {
    display: table-header-group;
  }

  .md\:table-row {
    display: table-row;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-full {
    height: 100%;
  }

  .md\:h-35 {
    height: 35px;
  }

  .md\:max-h-none {
    max-height: none;
  }

  .md\:w-9\/12 {
    width: 75%;
  }

  .md\:w-3\/12 {
    width: 25%;
  }

  .md\:w-1\/4 {
    width: 25%;
  }

  .md\:w-6\/12 {
    width: 50%;
  }

  .md\:w-5\/12 {
    width: 41.666667%;
  }

  .md\:w-4\/5 {
    width: 80%;
  }

  .md\:w-1\/12 {
    width: 8.333333%;
  }

  .md\:w-35 {
    width: 35px;
  }

  .md\:w-11\/12 {
    width: 91.666667%;
  }

  .md\:w-8\/12 {
    width: 66.666667%;
  }

  .md\:w-7\/12 {
    width: 58.333333%;
  }

  .md\:w-1\/2 {
    width: 50%;
  }

  .md\:w-auto {
    width: auto;
  }

  .md\:w-4\/12 {
    width: 33.333333%;
  }

  .md\:w-2\/12 {
    width: 16.666667%;
  }

  .md\:grid-cols-2 {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .md\:flex-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .md\:justify-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .md\:overflow-auto {
    overflow: auto;
  }

  .md\:overflow-hidden {
    overflow: hidden;
  }

  .md\:border-0 {
    border-width: 0;
  }

  .md\:bg-transparent {
    background-color: transparent;
  }

  .md\:p-20 {
    padding: 20px;
  }

  .md\:p-25 {
    padding: 25px;
  }

  .md\:p-13 {
    padding: 13px;
  }

  .md\:p-40 {
    padding: 40px;
  }

  .md\:px-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .md\:py-0 {
    padding-top: 0px;
    padding-bottom: 0px;
  }

  .md\:px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .md\:py-35 {
    padding-top: 35px;
    padding-bottom: 35px;
  }

  .md\:px-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .md\:py-10 {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .md\:py-40 {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .md\:py-50 {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .md\:px-65 {
    padding-left: 65px;
    padding-right: 65px;
  }

  .md\:px-30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .md\:px-25 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .md\:px-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .md\:py-60 {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .md\:py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .md\:py-20 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .md\:pb-70 {
    padding-bottom: 70px;
  }

  .md\:pt-0 {
    padding-top: 0px;
  }

  .md\:pl-15 {
    padding-left: 15px;
  }

  .md\:pb-60 {
    padding-bottom: 60px;
  }

  .md\:pt-50 {
    padding-top: 50px;
  }

  .md\:pl-0 {
    padding-left: 0px;
  }

  .md\:pl-30 {
    padding-left: 30px;
  }

  .md\:pr-15 {
    padding-right: 15px;
  }

  .md\:pr-20 {
    padding-right: 20px;
  }

  .md\:pt-25 {
    padding-top: 25px;
  }

  .md\:pb-20 {
    padding-bottom: 20px;
  }

  .md\:pt-20 {
    padding-top: 20px;
  }

  .md\:pb-0 {
    padding-bottom: 0px;
  }

  .md\:pr-0 {
    padding-right: 0px;
  }

  .md\:pt-30 {
    padding-top: 30px;
  }

  .md\:pl-40 {
    padding-left: 40px;
  }

  .md\:pl-10 {
    padding-left: 10px;
  }

  .md\:pr-25 {
    padding-right: 25px;
  }

  .md\:pr-10 {
    padding-right: 10px;
  }

  .md\:pl-25 {
    padding-left: 25px;
  }

  .md\:text-left {
    text-align: left;
  }

  .md\:text-right {
    text-align: right;
  }

  .md\:text-48 {
    font-size: 48px;
  }

  .md\:text-xl {
    font-size: 36px;
  }

  .md\:text-md {
    font-size: 18px;
  }

  .md\:text-xxl {
    font-size: 48px;
  }

  .md\:text-36 {
    font-size: 36px;
  }

  .md\:text-16 {
    font-size: 16px;
  }

  .md\:text-base {
    font-size: 16px;
  }

  .md\:text-lg {
    font-size: 24px;
  }

  .md\:text-24 {
    font-size: 24px;
  }

  .md\:text-22 {
    font-size: 22px;
  }

  .md\:text-xs {
    font-size: 12px;
  }

  .md\:font-bold {
    font-weight: 700;
  }

  .md\:font-normal {
    font-weight: 400;
  }

  .md\:leading-50 {
    line-height: 50px;
  }

  .md\:leading-35 {
    line-height: 35px;
  }
}

@media (min-width: 1024px) {
  .lg\:top-70 {
    top: 70px;
  }

  .lg\:right-90 {
    right: 90px;
  }

  .lg\:bottom-auto {
    bottom: auto;
  }

  .lg\:left-auto {
    left: auto;
  }

  .lg\:-top-1\/4 {
    top: -25%;
  }

  .lg\:mt-30 {
    margin-top: 30px;
  }

  .lg\:flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .lg\:w-7\/12 {
    width: 58.333333%;
  }

  .lg\:w-5\/12 {
    width: 41.666667%;
  }

  .lg\:w-4\/12 {
    width: 33.333333%;
  }

  .lg\:w-3\/12 {
    width: 25%;
  }

  .lg\:w-8\/12 {
    width: 66.666667%;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }

  .lg\:w-1\/12 {
    width: 8.333333%;
  }

  .lg\:max-w-50 {
    max-width: 50%;
  }

  .lg\:grid-cols-3 {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .lg\:pr-30 {
    padding-right: 30px;
  }

  .lg\:pt-25 {
    padding-top: 25px;
  }

  .lg\:text-18 {
    font-size: 18px;
  }

  .lg\:text-55 {
    font-size: 55px;
  }
}